<!doctype html>
<html lang="en" ng-controller="MainController as mc">
<head>

	<!-- ServiceJoin-Page variable -->
	<title>{{mc.items.title}}</title>

	<!-- ServiceJoin-AngularJs setting -->
  <base href="/web/templates/blog-template/" />

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/flexslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/animate.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">


	<!-- ServiceJoin-EditModule Includes -->
	<link rel="stylesheet" type="text/css" href="../admin-panel/src/jquery-ui/jquery-ui.min.css" media="screen">
	<link rel="stylesheet" href="../admin-panel/css/admin-panel.css" type="text/css" />
        <link rel="stylesheet" href="../../app/custom/angular-xeditable/dist/css/xeditable.css">
        <link rel='stylesheet' href='../../app/lib/textAngular/dist/textAngular.css'>
        <link rel="stylesheet" type="text/css" href="css/colorpicker.css">
	<!-- END EditModule Includes -->


</head>
<body class="" tpl-ver="blog-template">
<div id="content-wrapper" >
	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">


						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html">Stack<span>Savings</span></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right" itemtype="menu">



						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</header>
		<!-- End Header -->




		<!-- content
				================================================== -->
		<div id="content">


			<!-- EditModule Admin Panel -->

		<ng-include src="'../admin-panel/view/admin-panel.html'"></ng-include>

			<!-- END EditModule Admin Panel -->



			<!-- portfolio-section
				================================================== -->
			<section class="blog-section grid">
				<div class="container">

					<div class="blog-box">

						<div class="row">

							<div class="col-md-4">
								<div class="blog-post" id="flat-img" editable-bg modelname="bgColor">
									<div id="benefit" editable-image modelname="bgImage" bind-option="background" bind-divid="flat-img"></div>
									<div class="post-content">
										<div class="post-content-text">
											<ul class="post-tags" ng-show="dataLoaded">
												<!-- ServiceJoin-Page variables -->
												<li>1<a editable-item modelname="heroPoint4" href="javascript:void(0)" ng-style="{color:heroPoint4Color}" class="heroPoint4"></a></li>
												<li>2<span editable-item modelname="heroPoint5" ng-style="{color:heroPoint5Color}" class="heroPoint" wysiwyg="true"></span></li>
												<li>3<a editable-item modelname="heroPoint3" href="javascript:void(0)" ng-style="{color:heroPoint3Color}" class="heroPoint3"></a></li>
												<li>4<a editable-item modelname="heroPoint2" href="javascript:void(0)" ng-style="{color:heroPoint2Color}" class="heroPoint2"></a></li>
												<li>5<a editable-item modelname="heroPoint6" href="javascript:void(0)" ng-style="{color:heroPoint6Color}" class="heroPoint6"></a></li>
												<li>6<a editable-item modelname="heroPoint1" href="javascript:void(0)" ng-style="{color:heroPoint1Color}" class="heroPoint1"></a></li>
												<li>7<a editable-item modelname="heroPoint10" href="javascript:void(0)" ng-style="{color:heroPoint10Color}" class="heroPoint1"></a></li>
												<li>7<a editable-item modelname="heroPoint7" href="javascript:void(0)" ng-style="{color:heroPoint7Color}" class="heroPoint1"></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>
			</section>
			<!-- End portfolio section -->

		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

</div>

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.migrate.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="js/plugins-scroll.js"></script>
	<script type="text/javascript" src="js/waypoint.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

	<!-- EditModule Includes -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="../admin-panel/src/jquery-ui/jquery-ui.min.js"></script>
  	<script src="../../app/lib/handlebars/handlebars.min.js"></script>
	<script src="../../app/lib/angular/angular.js"></script>
	<script src="../../app/custom/angular-xeditable/dist/js/xeditable.js"></script>
	<script src="../../app/lib/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
	<script src='../../app/lib/textAngular/dist/textAngular-rangy.min.js'></script>
	<script src='../../app/lib/textAngular/dist/textAngular-sanitize.min.js'></script>
	<script src='../../app/lib/textAngular/dist/textAngular.min.js'></script>
	<script src="../../app/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
	<script src="../../app/lib/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="../../app/app.js"></script>
	<script src="../../app/services.js"></script>
	<script src="../../app/controllers.js"></script>
	<!-- END EditModule Includes -->


</body>
</html>
