<!doctype html>
<html lang="en" ng-controller="MainController as mc"> 
<head>
	<title>{{mc.items.title}}</title> 

        <base href="/templates/blog-template/" />

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/flexslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/animate.css" media="screen">
	<link rel="stylesheet" type="text/css" href="../admin-panel/src/jquery-ui/jquery-ui.min.css" media="screen">
	<link rel="stylesheet" href="../admin-panel/css/admin-panel.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">


        <link rel="stylesheet" href="../../app/custom/angular-xeditable/dist/css/xeditable.css">
        <link rel='stylesheet' href='../../app/lib/textAngular/dist/textAngular.css'>
        <link href="css/colorpicker.min.css" rel="stylesheet">


</head>
<body class="" tpl-ver="blog-template">
<div id="content-wrapper" > 
	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">

					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right" itemtype="menu">



						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</header>






		<div id="content">

			<section class="page-banner-section blog-banner">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<ul class="page-pagin">

							</ul>
						</div>
					</div>
				</div>
			</section>
	


		<ng-include src="'../admin-panel/view/admin-panel.html'"></ng-include>


			<section class="blog-section grid">
				<div class="container">

					<div class="blog-box">

						<div class="row">

							<div class="col-md-4">
								<div class="blog-post" editable-bg modelname="test">
									<div id="benefit" bg-image="img/default/asdf.png" editable-image></div>
									<div class="post-content">
										<div class="post-content-text">
											<ul class="post-tags">
												<li><a editable-field ng-bind="mc.items.heroPoint4" ng-href="{{mc.items.heroPoint4Href}}" ng-style="{color:mc.items.heroPoint4Color}" class="heroPoint"></a></li>
												<li><a editable-field ng-bind="mc.items.heroPoint5" ng-href="{{mc.items.heroPoint5Href}}" ng-style="{color:mc.items.heroPoint5Color}" class="heroPoint" wysiwyg=true></a></li >
											</ul>
											<h2><a editable-field ng-bind="mc.items.heroPoint3" ng-href="{{mc.items.heroPoint3Href}}" ng-style="{color:mc.items.heroPoint3Color}" class="heroPoint"></a>
</h2>
											<p editable-field ng-bind="mc.items.heroPoint2" ng-href="{{mc.items.heroPoint2Href}}" ng-style="{color:mc.items.heroPoint2Color}" class="heroPoint"></p>
											<a editable-field ng-bind="mc.items.heroPoint6" ng-href="{{mc.items.heroPoint6Href}}" ng-style="{color:mc.items.heroPoint6Color}" class="heroPoint"></a>

											---

                                        <span editable-field ng-bind="mc.items.heroPoint1" ng-href="{{mc.items.heroPoint1Href}}" ng-style="{color:mc.items.heroPoint1Color}" class="heroPoint"></span>


											---
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>
			</section>

			
		</div>

	</div>


</div>
	
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.migrate.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="js/plugins-scroll.js"></script>
	<script type="text/javascript" src="js/waypoint.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>



    	<script src="../../app/lib/handlebars/handlebars.min.js"></script>
	<script type="text/javascript" src="../admin-panel/src/jquery-ui/jquery-ui.min.js"></script>


	<!-- Angular App -->
	<script src="../../app/lib/angular/angular.js"></script>
	<script src="../../app/custom/angular-xeditable/dist/js/xeditable.js"></script>
	<script src="../../app/lib/colorPicker/bootstrap-colorpicker-module.min.js"></script>
	<script src='../../app/lib/textAngular/dist/textAngular-rangy.min.js'></script>
	<script src='../../app/lib/textAngular/dist/textAngular-sanitize.min.js'></script>
	<script src='../../app/lib/textAngular/dist/textAngular.min.js'></script>
	<script src="../../app/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
	<script src="../../app/lib/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="../../app/app.js"></script>
	<script src="../../app/services.js"></script>
	<script src="../../app/controllers.js"></script>
	<!-- END Angular App -->

	
</body>
</html>
