<!-- 

	Any HTML layout can be made into a ServiceJoin template by simply adding certain HTML elements and scripts, the 
	info below contains examples of what need to be included. You can also refer to example templates for this. 
	These directives are telling the Angluar JS code to do certain things so that it can make elements editable by an
	admin user. This app is essentially an admin edit layer that enables the user to edit images and text easily.

 -->


<html lang="en" ng-controller="MainController as mc"> 


<!-- in Head tag -->

<base href="/servicejoin-admin-dev/templates/servicejoin-template/" />




<body class="" tpl-ver="<template-name>">




<!-- Admin Panel -->

<button id="test" class="show-admin-menu btn btn-sm btn-default" ng-click="show=true" ng-show="!show && authenticated">+ Show 				Admin Menu
</button>
<form class="admin-menu" role="search" ng-show="show && authenticated">
	<div class="form-group">
		<input type="text" class="form-control" name="page" placeholder="Create Page" ng-model="mc.new_page"/>
		<button type="submit" class="btn btn-default" ng-click="mc.createPage()">
			Create New Page
		</button>
	</div>

	<div class="form-group">
		<input ng-change="mc.saveTitle()" type="text" class="form-control" name="title" placeholder="Title" ng-model="mc.items.title"/>
	</div>

    	<button class="hide-admin-menu btn btn-sm btn-default" ng-click="show=false">- Hide</button>
</form>

<!-- END Admin Panel -->




<!-- Angular App -->
<script src="../../app/lib/angular/angular.js"></script>
<!--<script src="app/lib/angular/angular.js"></script>-->
<!--<script src="app/lib/angular-xeditable/dist/js/xeditable.js"></script>-->
<script src="../../app/custom/angular-xeditable/dist/js/xeditable.js"></script>
<script src="js/bootstrap-colorpicker-module.min.js"></script>
<script src='../../app/lib/textAngular/dist/textAngular-rangy.min.js'></script>
<script src='../../app/lib/textAngular/dist/textAngular-sanitize.min.js'></script>
<script src='../../app/lib/textAngular/dist/textAngular.min.js'></script>
<script src="../../app/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="../../app/lib/ng-file-upload/ng-file-upload.min.js"></script>
<script src="../../app/app.js"></script>
<script src="../../app/services.js"></script>
<script src="../../app/controllers.js"></script>
<!-- END Angular App -->








