<form editable-form name="{{attr.modelname}}">
    <div>
        <a href="javascript:void(0)" ng-click="$event.preventDefault();{{attr.modelname}}.$show()" class="{{attr.classname}}">
            <img src="../admin-panel/img/add_file.png" height="20" width="20" />
        </a>
    </div>

	<div class="admin-panel" draggable-elem ng-show="{{attr.modelname}}.$visible" style="width:300px; position:absolute;" >
    <div class="panel-header" ng-show="authenticated" >
        <span id="test" class="show-panel-menu" ng-click="{{attr.modelname}}.$cancel()">
		<i class="fa fa-times" aria-hidden="true"></i>
            </span>
        <h2>Upload Image </h2>
    </div>
	<div class="admin-menu" ng-show="authenticated && {{attr.modelname}}.$visible && !show1">

        <!--<br ng-show="{{attr.modelname}}.$visible"/>-->

        <!--<a href="#" ng-show="{{attr.modelname}}.$visible" editable-color="{{bindPrefix}}{{attr.color}}">
            \{{ {{attr.color}} || "empty" }}
        </a>-->
        <div class="form-group" ng-show="{{attr.modelname}}.$visible">
            <input type="file" name="file" class="form-control" ngf-select ng-model="files" ngf-multiple="false" accept="image/*" />
        <div class="buttons">
            <button class="btn btn-primary" ng-click="$event.preventDefault();uploadImage('{{attr.modelname}}','{{attr.bindDivid}}', '{{attr.bindOption}}')">Upload</button>
            <button type="button" class="btn btn-sm btn-danger" ng-disabled="{{attr.modelname}}.$waiting" ng-click="{{attr.modelname}}.$cancel()">
                Cancel
            </button>
            <span class="progress" ng-show="{{attr.modelname}}.progress >= 0">
                 <div ng-bind="{{attr.modelname}}.progress"> </div>
            </span>
        </div>
        </div>
	</div>
</div>
</form>