<form editable-form name="{{attr.modelname}}" class="{{attr.class}}" color="{{attr.color}}" onaftersave="updateFullItems()">
    <div>
       <{{attr.tagname}}
            class="{{attr.classname}}"
            ng-style="{color: {{bindPrefix}}{{attr.color}} }"
            ng-click="$event.preventDefault();{{attr.modelname}}.$show()">
                \{{{{bindPrefix}}{{bind}} }}
        </{{attr.tagname}}>
    </div>

	<div class="admin-panel" draggable-elem ng-show="{{attr.modelname}}.$visible" style="width:200px; position:absolute;" > 
    <div class="panel-header" ng-show="authenticated" >
        <span id="test" class="show-panel-menu" ng-click="{{attr.modelname}}.$cancel()">
		<i class="fa fa-times" aria-hidden="true"></i>
            </span>
        <h2>\{{ {{bindPrefix}}{{bind}} }}</h2>
    </div>
	<div class="admin-menu" ng-show="authenticated && {{attr.modelname}}.$visible">
	    <span ng-show="{{attr.modelname}}.$visible">Title</span>
	    <a href="#" ng-show="{{attr.modelname}}.$visible" editable-text="{{bindPrefix}}{{bind}}">
            \{{{{bindPrefix}}{{bind}} }}
        </a>
        <br ng-show="{{attr.modelname}}.$visible"/>
        <span ng-show="{{attr.modelname}}.$visible">URL</span>
        <a href="#" ng-show="{{attr.modelname}}.$visible" editable-text="{{bindPrefix}}{{attr.hrefname}}">
            \{{ {{bindPrefix}}{{attr.hrefname}} || "empty" }}
        </a>
        <br ng-show="{{attr.modelname}}.$visible"/>
        <span ng-show="{{attr.modelname}}.$visible">Color</span>
        <a href="#" ng-show="{{attr.modelname}}.$visible" editable-color="{{bindPrefix}}{{attr.color}}">
            \{{ {{bindPrefix}}{{attr.color}} || "empty" }}
        </a>
        <div class="form-group" ng-show="{{attr.modelname}}.$visible">
            <label>
                <input type="radio" name="{{attr.color}}change" value="one" ng-model="mc.changeGroup">
                Only This
            </label>
            <label>
                <input type="radio" name="{{attr.color}}change" value="all" ng-model="mc.changeGroup">
                All
            </label>
        </div>
        <div class="buttons">
            <span ng-show="{{attr.modelname}}.$visible">
                <button type="submit" class="btn btn-sm btn-info" ng-disabled="{{attr.modelname}}.$waiting">
                    Save
                </button>
                <button type="button" class="btn btn-sm btn-danger" ng-disabled="{{attr.modelname}}.$waiting" ng-click="{{attr.modelname}}.$cancel()">
                    Cancel
                </button>
            </span>
        </div>
	</div>
</div>
</form>
