<div class="bgcolor-edit">
    <img src="../admin-panel/img/color-logo.jpg" height="20" width="20"  ng-model="{{bindPrefix}}{{bind}}" colorpicker colorpicker-position="bottom" ng-model-options="{debounce: 300}" ng-change="changeBgColor({{bindPrefix}}{{bind}}, '{{bind}}')" />
    <!--<input type="text"  ng-model="{{bindPrefix}}{{bind}}" colorpicker colorpicker-position="right" ng-model-options="{debounce: 300}" ng-change="changeBgColor({{bindPrefix}}{{bind}}, '{{bind}}')"/>-->
    <!--<button class="btn btn-default" ng-model="{{bindPrefix}}{{bind}}" colorpicker colorpicker-position="right" ng-model-options="{debounce: 300}" ng-change="changeBgColor({{bindPrefix}}{{bind}}, '{{bind}}')">Change Color</button>-->
</div>