<div class="admin-panel"  id="draggable" ng-init="mc.initDraggable();" > 
<form editable-form name="{{attr.modelname}}" class="{{attr.class}}" color="{{attr.color}}" background="{{attr.background}}">
    <span ng-show="{{attr.modelname}}.$visible">Title</span>
    <{{attr.tagname}}
        class="{{attr.classname}}"
        ng-style="{color: {{bindPrefix}}{{attr.color}}, background: {{bindPrefix}}{{attr.background}} }"
        ng-click="$event.preventDefault();{{attr.modelname}}.$show()"
        editable-text="{{bind}}"
        onbeforesave="mc.updateItem($data, '{{attr.modelname}}', {{tpl}})">
            \{{ {{bind}} }}
    </{{attr.tagname}}>
    <br ng-show="{{attr.modelname}}.$visible"/>

    <span ng-show="{{attr.modelname}}.$visible">URL</span>
    <{{attr.tagname}} ng-show="{{attr.modelname}}.$visible" editable-text="{{bindPrefix}}{{attr.hrefname}}" onbeforesave="mc.updateItem($data, '{{attr.hrefname}}', {{tpl}})"></{{attr.tagname}}>
    <br ng-show="{{attr.modelname}}.$visible"/>

    <span ng-show="{{attr.modelname}}.$visible">Color</span>
    <a href="#" ng-show="{{attr.modelname}}.$visible" editable-color="{{bindPrefix}}{{attr.color}}" onbeforesave="mc.updateGroupItem($data, '{{attr.color}}', '{{attr.class}}', {{tpl}})">
        \{{ {{bindPrefix}}{{attr.color}} || "empty" }}
    </a>
    
    <div class="form-group" ng-show="{{attr.modelname}}.$visible">
        <label>
            <input type="radio" name="{{attr.color}}change" value="one" ng-model="mc.changeGroup">
            Only This
        </label>
        <label>
            <input type="radio" name="{{attr.color}}change" value="all" ng-model="mc.changeGroup">
            All
        </label>
    </div>
    
    <span ng-show="{{attr.modelname}}.$visible">Background Color</span>
    <a href="#" ng-show="{{attr.modelname}}.$visible" editable-color="{{bindPrefix}}{{attr.background}}" onbeforesave="mc.updateItem($data, '{{attr.background}}', {{tpl}})">
        \{{ {{bindPrefix}}{{attr.background}} || "empty" }}
    </a>
    
    <div class="buttons">
        <span ng-show="{{attr.modelname}}.$visible">
            <button type="submit" class="btn btn-sm btn-info" ng-disabled="{{attr.modelname}}.$waiting">
                Save
            </button>
            <button type="button" class="btn btn-sm btn-danger" ng-disabled="{{attr.modelname}}.$waiting" ng-click="{{attr.modelname}}.$cancel()">
                Cancel
            </button>
        </span>
    </div>
</form>
</div>





