<div class="image_edit">
    <input type="file" name="file" class="form-control" ngf-select ng-model="files" ngf-multiple="false" accept="image/*" />
    <button class="btn btn-default" ng-click="uploadFiles('{{attrs.modelname}}','{{attrs.bindDivid}}', '{{attrs.bindOption}}', '{{attrs.divId}}')">Upload</button>
    <span class="progress">
        <div></div>
    </span>
</div>