<form editable-form name="{{attr.modelname}}" class="{{attr.class}}" color="{{attr.color}}">
    <div ng-show="!{{attr.modelname}}.$visible">
        <{{attr.tagname}}
            class="{{attr.classname}}"
            ng-style="{color: {{bindPrefix}}{{attr.color}} }"
            ng-click="$event.preventDefault();{{attr.modelname}}.$show()"
            editable-text="{{bind}}"
            onbeforesave="mc.updateItem($data, '{{attr.modelname}}', {{tpl}})">
                \{{ {{bind}} }}
        </{{attr.tagname}}>
    </div>

	<div class="admin-panel" draggable-elem ng-show="{{attr.modelname}}.$visible" style="width:200px" > 
    <div class="panel-header" ng-show="authenticated">
        <span id="test" class="show-panel-menu" ng-click="{{attr.modelname}}.$cancel()">
		<i class="fa fa-times" aria-hidden="true"></i>
            </span>
        <h2>\{{ {{bind}} }}</h2>
    </div>
	<div class="admin-menu" ng-show="authenticated && {{attr.modelname}}.$visible && !show1">
	    <span ng-show="{{attr.modelname}}.$visible">Title</span>
	    <span class="editable-wrap editable-text ng-scope">
	        <span class="editable-controls">
	            <input type="text" class="editable-input ng-pristine ng-valid ng-not-empty ng-touched" ng-model="{{bind}}">
	            <div class="editable-error ng-binding ng-hide" ng-show="$error" ng-bind="$error"></div>
	        </span>
        </span>
        <br ng-show="{{attr.modelname}}.$visible"/>
        <span ng-show="{{attr.modelname}}.$visible">URL</span>
        <{{attr.tagname}} ng-show="{{attr.modelname}}.$visible" editable-text="{{bindPrefix}}{{attr.hrefname}}" onbeforesave="mc.updateItem($data, '{{attr.hrefname}}', {{tpl}})"></{{attr.tagname}}>
        <br ng-show="{{attr.modelname}}.$visible"/>
    
        <span ng-show="{{attr.modelname}}.$visible">Color</span>
        <a href="#" ng-show="{{attr.modelname}}.$visible" editable-color="{{bindPrefix}}{{attr.color}}" onbeforesave="mc.updateGroupItem($data, '{{attr.color}}', '{{attr.class}}', {{tpl}})">
            \{{ {{bindPrefix}}{{attr.color}} || "empty" }}
        </a>
        <div class="form-group" ng-show="{{attr.modelname}}.$visible">
            <label>
                <input type="radio" name="{{attr.color}}change" value="one" ng-model="mc.changeGroup">
                Only This
            </label>
            <label>
                <input type="radio" name="{{attr.color}}change" value="all" ng-model="mc.changeGroup">
                All
            </label>
        </div>
        <div class="buttons">
            <span ng-show="{{attr.modelname}}.$visible">
                <button type="submit" class="btn btn-sm btn-info" ng-disabled="{{attr.modelname}}.$waiting">
                    Save
                </button>
                <button type="button" class="btn btn-sm btn-danger" ng-disabled="{{attr.modelname}}.$waiting" ng-click="{{attr.modelname}}.$cancel()">
                    Cancel
                </button>
            </span>
        </div>
	</div>
</div>
</form>