<li ng-repeat="(key,value) in mc.items.items.menu">
    <a href='\{{value.link}}'>
        \{{key}}
    </a>
    <!-- Remove-->
    <button class='btn btn-xs delete-menu-item' ng-click='mc.deleteMenuItem($event,key)' ng-show='authenticated'>
        <i class='fa fa-times' aria-hidden='true'></i>
    </button>
    <!-- END Remove-->
</li>
<!-- Remove-->
<li id='add_menu_item' ng-show='authenticated'>
    <a ng-click='mc.showAddMenuItem = true;' href='javascript:void(0)'>
        Add item
    </a>
    <div ng-show='mc.showAddMenuItem' ng-include='"../admin-panel/view/add-menu-item.html"'>
</li>
<!-- END Remove-->
