
/* 
   ------------------------------------------------------
					Responsive Styles
   ------------------------------------------------------
*/


@media (min-width: 992px) and (max-width: 1199px) {
	

	.subscribe-submit {width: 30%;}
	.subscribe-input {width: 70%;}

	/*------------------------------------------*/
	/*	  Intro Section
	/*------------------------------------------*/
	
	#intro_form {padding-left: 15px;}
	.intro_button {margin-top: 30px;}

	
	/*------------------------------------------*/
	/*	  Video Content Settings
	/*------------------------------------------*/ 

	.video-block {padding-bottom: 68.25%;}
	
	/*------------------------------------------*/
	/*	 Footer Newsletter Form
	/*------------------------------------------*/
	
	.subscribe-form {width: 100%;}

}

@media only screen and (min-width: 992px) and (max-width: 1194px) {
	.form-group.upload input[type="file"] {
		width: 46%;
	}
	
	.footer-nav li {
		padding: 5px 5px 10px;
	}
	
	.hero-title h1 {
		font-size: 36px;
	}
	
}


@media only screen and (max-width: 991px){
	.subscribe-submit {width: 30%;}
	.subscribe-input {width: 70%;}
	.titlebar h1 { font-size: 32px; }
	.titlebar p {font-size: 16px; }
	
	/*------------------------------------------*/
	/*	 Header
	/*------------------------------------------*/

	#header { margin-bottom: 40px; }
	
	/*------------------------------------------*/
	/*	  Intro Section
	/*------------------------------------------*/
	
	#intro_description, #logo_image, #social_icons { padding: 0;}
	#intro_form {padding: 0 0 0 25px;}
	#intro_description h1 {font-size: 32px;}
	.intro_button {margin-top: 40px;}
	
	/*------------------------------------------*/
	/*	 About Sections
	/*------------------------------------------*/
	
	#about-1 {padding-bottom: 60px;}
	#about-2 {padding-top: 60px;}
	
	#about-1-text {padding-right: 15px;}
	#about-2-text {padding-left: 15px;}
	
	/*------------------------------------------*/
	/*	 About-1 Image
	/*------------------------------------------*/

	#about-1-img img {padding: 0 60px;}
		
	/*------------------------------------------*/
	/*	 Video Holder
	/*------------------------------------------*/
	
	#video_holder {margin-bottom: 40px;}
	
	/*------------------------------------------*/
	/*	 Call to Action
	/*------------------------------------------*/
	
	#call-to-action h1 {font-size: 32px; padding: 0;}
	#call-to-action p {font-size: 18px; padding: 0;}
	
	/*------------------------------------------*/
	/*	 Footer Social Icons  
	/*------------------------------------------*/
	
	#footer_icons { margin:6px 0; }
	.footer-socials { display: inline-block; float: right;}
	
	/*------------------------------------------*/
	/*	 Footer Newsletter Form
	/*------------------------------------------*/
	
	.subscribe-form {margin: 40px auto 5px; width: 55%; float: none !important;}
	#newsletter-paragraph {float: none !important;}

}


@media only screen and (min-width: 768px) and (max-width: 990px) {

	#intro {
		height: initial;
	}
	
	.hero-section {
	  padding-top: 150px;
	}
	
	.navbar-nav > li > a {
		padding: 0 10px;
	}
	
	#header {
		margin-bottom: 0;
	}
	
	#intro_description {
		text-align: center;
	}
	
	.hero-points li:before {
		float: none;
	}
	
	.our-benefit .titlebar h1 {
		margin-top: 60px;
	}
	
	.about-us .btn.btn-primary {
		margin: 30px 0 55px;
	}
	
		.our-different {
		padding: 0;
	}
	
	.question {
		padding-right: 0;
	}
	
	.subscribe-form {
		width: 100%;
	}
	
}


@media only screen and (max-width: 767px){

	/*------------------------------------------*/
	/*	 Responsive Menu
	/*------------------------------------------*/
	.subscribe-submit {width: 50%;}
	.navbar-nav { margin: 0 -15px; border-top: 1px solid #ddd; background-color: #f6f6f6;}	
	.navbar-brand { padding: 15px 15px 10px 30px;}
	.navbar-nav > li { text-align: center;}
	.navbar-nav > li > a { line-height: 44px; text-align: center; display: inline-block; text-align: center;}
	
	.container { overflow: hidden;}

	#intro_form, #logo_image, #social_icons, #about-1, #about-2, #features, #faq, #clients { padding-left: 45px; padding-right: 45px;}
	
	/*------------------------------------------*/
	/*	 Header
	/*------------------------------------------*/

	#header { margin-bottom: 50px; }
	#header img {padding: 0 15px 0 0;}

	/*------------------------------------------*/
	/*	  Intro Section
	/*------------------------------------------*/
	
	#intro_description  { margin-bottom: 40px; padding: 0 45px;}
	#intro_description h1 {font-size: 32px;}
	.intro_button {margin-top: 20px;}
	
	.form_register {width: 60%; }
	
	/*------------------------------------------*/
	/*	 Features
	/*------------------------------------------*/
	
	.feature-box {margin-bottom: 30px;}
	
	/*------------------------------------------*/
	/*	 Call to Action
	/*------------------------------------------*/
	
	#call-to-action p {padding: 0 4%;}
	
	/*------------------------------------------*/
	/*	 Footer
	/*------------------------------------------*/
	
	#footer_nav { text-align: center; margin-bottom: 30px;}
	.footer-nav {display: inline-block; margin: 0 auto;}
	#footer_copy p {margin-left: 0;}
	.footer-nav li {padding: 5px 10px 5px;}
		
	/*------------------------------------------*/
	/*	 Footer Social Icons  
	/*------------------------------------------*/
	
	.footer-socials {float: none;}
	
	/*------------------------------------------*/
	/*	 Footer Newsletter Form
	/*------------------------------------------*/
	
	.subscribe-form {margin: 25px auto 5px; width: 50%;}

	.our-benefit {
		background-size: 100% 100%;
		background-position: top center;
	}
	
		.about-us .btn.btn-primary {
		margin: 30px 0 55px;
	}
	
	.our-different {
		padding: 0;
	}
	
	.question {
		padding-right: 0;
	}
	
	.subscribe-form {
		width: 100%;
	}
	
}


@media (max-width: 480px) {
	.subscribe-submit {width: 50%;}
	.subscribe-input {width: 55%;}
	#intro_description, #intro_form, #logo_image, #social_icons, #about-1, #about-2, #features, #faq, #clients { padding-left: 20px; padding-right: 20px;}
	
	.intro_feature p {font-size: 14px; }	
	.form_register {width: 90%; }
	
	#about-1-img img {padding: 0;}
	#about-2-img img {margin-top: 0;padding: 0;}
	
	/*------------------------------------------*/
	/*	 Footer Newsletter Form
	/*------------------------------------------*/
	
	.subscribe-form {margin: 25px auto 5px; width: 70%;}
	
	.navbar-brand {
	  padding: 10px 15px;
	}
	
	#header img {
	  padding: 0;
	}
	
	.main-logo img {
		float: none;
	}
	.main-logo h1 {
		line-height: inherit;
		font-size: 1.8rem;
	}
	
	.navbar-nav > li {
	  	  border-bottom: 1px solid #f0f0f0;
	}
	
	.hero-section {
	  padding-top: 0;
	}
	
	
	#intro_description h1 {
	  font-size: 2.4rem;
	  text-align: center;
	  display: block;
	  margin-bottom: 10px;
	}
	
	.hero-section .btn.btn-primary {
		display: block;
	}
	
	.hero-points li {
	
	  margin: 10px 0;
	}
	
	.hero-section .btn.btn-primary {
		margin-top: 20px;
	}
	
	.user-register h3 {
		margin-bottom: 15px;
	}
	
	.titlebar p {
		margin-bottom: 30px;
	}
	
	.titlebar h1 {
	  font-size: 28px;
	}
	#call-to-action h1 {
	
	  padding: 10px;
	}
	
	#intro {
		height: initial;
	}
	
	#intro,
	#features,
	#call-to-action {
		background-size: cover;
	}
	
	#header {
	  margin-bottom: 0;
	}
	
	.hero-title {
	  margin-top: 75px;
	}
	
	.register-form {
		margin-bottom: 30px;
	}
	
	.our-benefit .titlebar h1 {
		margin-top: 70px;
	}

}


@media (max-width: 375px) {
		.hero-points li:before {
		display: none;
	}
}


@media (max-width: 320px) {
	.subscribe-submit {width: 50%;}
	.subscribe-input {width: 55%;}
	.titlebar h1 { font-size: 28px; }
	
	#intro_form, #logo_image, #social_icons, #about-1, #about-2, #features, #faq, #clients { padding-left: 5px; padding-right: 5px;}
	
	/*------------------------------------------*/
	/*	  Header
	/*------------------------------------------*/
	
	#logo_image {width: 100%; text-align: center; margin-bottom: 15px; float: none !important;}
	#logo_image img { padding: 0;}
	#social_icons {width: 100%; text-align: center; float: none !important;}
	
	.customNavigation {display: none;}
	
	/*------------------------------------------*/
	/*	  Intro Section
	/*------------------------------------------*/
	
	#intro_description { padding-left: 15px; padding-right: 15px;text-align: center;}
	#intro_description h1 {text-align: center;}
	
	
	/*------------------------------------------*/
	/*	 Footer Newsletter Form
	/*------------------------------------------*/
	
	.subscribe-form {margin: 25px auto 5px; width: 100%;}
	.hero-points li:before {
		display: none;
	}
	
	#intro_description h1 {
  		font-size: 1.8rem;
	}
	
	.hero-points p {
		font-size: 1.4rem;
	}
	
	.footer-nav li {
	  padding: 5px 8px 5px;
	}
	
	.subscribe-submit {
	  width: 35%;
	}
	
	.subscribe-input {
	  width: 63%;
	}

}