<!DOCTYPE html>
<html ng-app="serviceJoinApp" lang="en" * ng-controller="MainController as mc">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/web/templates/servicejoin/" />
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>{{mc.items.title}}</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Overwrite bootstrap -->
    <link href="css/overwrite.css" rel="stylesheet">

	<!-- font awesome -->
	<link href="css/font-awesome.css" rel="stylesheet">
    <!--[if lt IE 9]>
	  <link href="css/font-awesome-ie7.css" rel="stylesheet">
	<![endif]-->
	<link href="css/font-awesome-set.css" rel="stylesheet">

    <!-- cslider style -->
    <link href="css/cslider.css" rel="stylesheet">
	<noscript>
		<link rel="stylesheet" type="text/css" href="css/nojs.css" />
	</noscript>

    <!-- prettyPhoto style -->
    <link href="css/prettyPhoto.css" rel="stylesheet">

    <!-- Custom style -->
    <link href="css/style.css" rel="stylesheet">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>

    <link href="skin/default.css" rel="stylesheet">

<!-- Remove-->
	<!-- Color style -->
	<!-- ServiceJoin-EditModule Includes -->
	<link rel="stylesheet" type="text/css" href="../../app/lib/font-awesome/css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="../admin-panel/src/jquery-ui/jquery-ui.min.css" media="screen">
	<link rel="stylesheet" href="../admin-panel/css/admin-panel.css" type="text/css" />
    <link rel="stylesheet" href="../../app/custom/angular-xeditable/dist/css/xeditable.css">
    <link rel='stylesheet' href='../../app/lib/textAngular/dist/textAngular.css'>
    <link rel="stylesheet" type="text/css" href="../../app/lib/angular-bootstrap-colorpicker/css/colorpicker.css">
	<!-- END EditModule Includes -->
  <!-- END Remove-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
  <link href="../../app/lib/please-wait/build/please-wait.css" rel="stylesheet">
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("3979927625");
  </script>
  </head>
  <body>
<script type="text/javascript" src="../../app/lib/please-wait/build/please-wait.min.js"></script>
<script type="text/javascript">
  window.loading_screen = window.pleaseWait({
    logo: "../admin-panel/img/gears.gif",
    backgroundColor: '#1f3f61',
    loadingHtml: "<h2 style='color:#ffffff' class='loading-message'>Edit mode is loading, it should take just a few more seconds. Edit mode takes a bit of extra time to load. Your website will load much faster for your users in non-edit mode.</h2>"
  });
</script>
	<!-- Start home -->
	<section id="home" class="bgslider-wrapper">
		<div id="animated-bg">
			<!--<div id="animated-bg1" class="bg-slider"></div>
			<div id="animated-bg2" class="bg-slider"></div>-->
			<div id="animated-bg3" class="bg-slider"></div>
		</div>

    <!-- Remove-->
    <!-- EditModule Admin Panel -->
    <ng-include src="'../admin-panel/view/demo-mode-panel.html'"></ng-include>
    <ng-include src="'../admin-panel/view/admin-panel.html'"></ng-include>
    <!-- END EditModule Admin Panel -->
    <!-- END Remove-->

		<div class="home-contain custom-height" >
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div editable-parallax  modelname="topBgImage"  bind-divid="animated-bg3"></div>
					</div>
					<div class="col-lg-5">
						<div class="stand-out-form" >
							<h4 editable-bg modelname="formHeadBgColor"><i class="icon-download"></i><span editable-item modelname="serviceJoin1" * ng-style="{color:serviceJoin1Color}"></span></h4>
              <!-- Replace1 -->
              <form class="text-left" name="form1" ng-controller="form1Ctrl">
                <fieldset ng-hide="form1.$submitted">
                  <div class="form-group">
                    <label for="exampleInputFirstName">First name</label>
                    <input type="text" class="form-control" ng-model="form1.firstname" id="exampleInputFirstName" placeholder="Enter your first name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputLastName">Last name</label>
                    <input type="text" class="form-control" ng-model="form1.lastname" id="exampleInputLastName" placeholder="Enter your last name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPhoneNumber">Phone</label>
                    <input type="text" class="form-control" ng-model="form1.phone" id="exampleInputPhoneNumber" placeholder="Enter your phone number">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail">Email address</label>
                    <input type="email" class="form-control" ng-model="form1.email" id="exampleInputEmail" placeholder="Enter your email address">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-lg btn-red" ng-disabled="!form1.$valid" ng-click="saveForm1()">Submit</button>
                  </div>
                </fieldset>
                <span ng-show="form1.$submitted">Thanks, we will be in touch with you soon.</span>
              </form>
              <!-- Replace1 -->
						</div>
					</div>
					<div class="col-lg-7">
						<a href="#home" class="logo margintop60"><img src="img/logo.png" id="logo-img" class="brand-logo" alt="" /></a>
						<!--<div editable-image modelname="logo" bind-option="forground" bind-divid="logo-img"></div>-->

						<div editable-field-image modelname="serviceJoin28" bind-option="forground" bind-divid="logo-img"></div>

            			<div class="textPanel1" editable-item modelname="introText" * ng-style="{color:introTextColor}" wysiwyg="true"></div>
            			<!--<div id="da-slider" class="da-slider">
							<div class="da-slide">
								<h2>We are professional agency</h2>
								<p>Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit.</p>
							</div>
							<div class="da-slide">
								<h2>Supported by a professional team</h2>
								<p>Clita perpetua pri et, in vis suas invenire definitionem, te eam erant soleat. Eu vis assum movet, duo quis eirmod periculis ut, et has nominavi tincidunt ullamcorper. No erat dicat vis.</p>
							</div>
							<div class="da-slide">
								<h2>Make more than 1000 apps</h2>
								<p>Quo autem complectitur an, porro commodo impedit in nec. Eam facer elaboraret ea, ad eos nullam consulatu maiestatis. Eum mazim simul ne, dicta mnesarchum duo no, ex nec graece verear.</p>
							</div>
							<div class="da-slide">
								<h2>High quality and full service</h2>
								<p>Odio appellantur vis te, meliore senserit vis et, cu facer voluptua euripidis sed. Ut aliquam accommodare eos, no qui legere vituperatoribus, ludus vocent nec an aperiam philosophia.</p>
							</div>
							<nav class="da-arrows">
								<span class="da-arrows-prev"></span>
								<span class="da-arrows-next"></span>
							</nav>

						</div>-->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End home -->
	<div class="clearfix"></div>
	<!-- Header -->
	<header>
		<div class="navbar" editable-bg modelname="menuBgColor">
			<div class="container" >
				<div class="navbar-brand">

          			<div editable-field-image modelname="smallLogo" bind-option="forground" bind-divid="small-logo"></div>
          <!-- <img src="img/flat-img.png" id="flat-img" class="img-responsive" alt="" /> -->
          			<img src="img/small-logo.png" id="small-logo" class="brand-logo" alt="" />
          		</div>
				<div class="nav-collapse collapse navbar-responsive-collapse">
					<ul itemtype="menu" class="nav navbar-nav"></ul>
				</div><!-- End nav-collapse -->
			</div><!-- End container -->
		</div><!-- End navbar -->
	</header>
	<!-- End header -->

	<!-- Start about -->
	<section id="about" class="parallax">
			<div class="container">
				<div editable-field-image modelname="aboutbgImage" bind-option="background" bind-divid="about"></div>

				<div class="row">
					<div class="col-lg-5">
						<h3 class="heading" editable-item modelname="serviceJoin2" * ng-style="{color:serviceJoin2Color}"></h3>
						<span  editable-item modelname="serviceJoin3" wysiwyg="true"  * ng-style="{color:serviceJoin3Color}"></span>
						<a href="#contact" class="btn btn-default">Get in touch with us</a>
						<img src="img/span-arrow.png" class="img-responsive pull-right" alt="" />

					</div>
					<div class="col-lg-7">
						<div id="image-edit" editable-field-image modelname="serviceJoinBgImage" bind-option="forground" bind-divid="flat-img"></div>
						<img src="img/flat-img.png" id="flat-img" class="img-responsive" alt="" />
					</div>
				</div>
			</div>
	</section>
	<!-- End about -->

	<!-- Start feature -->
	<section id="feature" class="parallax">
			<div class="container">
				<div editable-field-image modelname="featurebgImage" bind-option="background" bind-divid="feature"></div>
				<div class="row">
					<div class="col-lg-8">
						<div id="myTabContent" class="tab-content fature-contain">
							<div class="tab-pane fade in active" id="tab1">
								<div class="feature-title">
									<!-- <i class="icon-thumbs-up icon-rounded icon-128"></i> -->
                  					<div class="textPanel2">
									    <h4 editable-item modelname="serviceJoin5" * ng-style="{color:serviceJoin5Color}"></h4>
                             			<p editable-item modelname="serviceJoin6"  wysiwyg="true"  * ng-style="{color:serviceJoin6Color}"><p>
                  					</div>
								</div>
								<!-- <p><a href="javascript:void(0)" class="btn btn-default btn-lg" editable-field * ng-bind="mc.items.serviceJoin7"  * ng-style="{color:mc.items.serviceJoin7Color}"></a></p> -->
							</div>
							<!-- <div class="tab-pane fade" id="tab2">
								<div class="feature-title">
									<i class="icon-desktop icon-rounded icon-128"></i>
									<h4>Modern flat design</h4>
								</div>
								<p>
								Nec ad homero maluisset delicatissimi, error possit impetus vix id. Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam, sea nemore timeam nusquam eu, alia admodum per at.
								</p>
								<p>
								Id legendos splendide qui, errem causae molestiae at pri, natum accumsan forensibus cum at. Mei in omittam iudicabit, te sonet fastidii detracto qui. Pro ut nobis fabulas gloriatur. Pri sumo phaedrum cu, in est blandit corrumpit pertinacia. Disputando dissentiunt ei pro, equidem tibique maluisset et his. Graeci habemus pro in, ei eam quas vivendum comprehensam.
								</p>
								<p><a href="#" class="btn btn-default btn-lg">learn more</a></p>
							</div> -->
						</div>
					</div>
				</div>
			</div>
	</section>
	<!-- End feature -->

	<!-- Start gallery -->
	<!-- <section id="gallery">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="heading">Our gallery</h3>
						<div id="filter-bar">
							<ul id="filters" class="option-set">
								<li><a href="#" class="selected" data-filter=".all">All</a></li>
								<li><a href="#" data-filter=".interface">Interface</a></li>
								<li><a href="#" data-filter=".print">Print</a></li>
								<li><a href="#" data-filter=".illustration">Illustration</a></li>
								<li><a href="#" data-filter=".branding">Branding</a></li>
							</ul>
						</div>
					</div>

					  <ul id="gallery-list" class="clearfix">
							<li class="item col-lg-4 all interface">
								<div class="image-wrapper">
									<img src="img/gallery/img1.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Velit dissentiunt an ius</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all interface">
								<div class="image-wrapper">
									<img src="img/gallery/img2.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Cu viris audire volumus</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all print">
								<div class="image-wrapper">
									<img src="img/gallery/img3.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Eros laudem omittantur</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all branding">
								<div class="image-wrapper">
									<img src="img/gallery/img4.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Admodum accommodare qui</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all print">
								<div class="image-wrapper">
									<img src="img/gallery/img5.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">His diceret senserit ne</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all illustration">
								<div class="image-wrapper">
									<img src="img/gallery/img6.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Consequuntur sed ne</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all illustration">
								<div class="image-wrapper">
									<img src="img/gallery/img7.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Scripta habemus dolores</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all branding">
								<div class="image-wrapper">
									<img src="img/gallery/img8.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Erroribus corrumpit</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all interface">
								<div class="image-wrapper">
									<img src="img/gallery/img9.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Nam dolore sapientem</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
						</ul>
				</div>
			</div>
	</section> -->
	<!-- End gallery -->

	<!-- Start pricing -->
	<section id="pricing">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="heading text-center" editable-item modelname="serviceJoin8" * ng-style="{color:serviceJoin8Color}"></h3>
						<ul class="pricing-table">
					<li>
					<ul>
						<li class="plan_name aligncenter" editable-bg modelname="paln1bgColor"><span editable-item modelname="serviceJoin9" * ng-style="{color:serviceJoin9Color}"></span></li>
						<li class="plan_price aligncenter" editable-bg modelname="price1bgColor"><strong><span editable-item modelname="serviceJoin10" * ng-style="{color:serviceJoin10Color}"></span></li>
              			<li class="aligncenter"><span editable-item modelname="leftField1" * ng-style="{color:leftField1Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="leftField2" * ng-style="{color:leftField2Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="leftField3" * ng-style="{color:leftField3Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="leftField4" * ng-style="{color:leftField4Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="leftField5" * ng-style="{color:leftField5Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="leftField6" * ng-style="{color:leftField6Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="leftField7" * ng-style="{color:leftField7Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="leftField8" * ng-style="{color:leftField8Color}"></li>
						<li class="aligncenter button_box"><a class="btn btn-red btn-lg" href="#contact" editable-bg modelname="button1bgColor">Contact Us</a></li>
					</ul>
					</li>
					<li class="featured">
					<ul>
						<li class="plan_name aligncenter" editable-bg modelname="paln2bgColor"><span editable-item modelname="serviceJoin11" * ng-style="{color:serviceJoin11Color}"></span></li>
						<li class="plan_price aligncenter" editable-bg modelname="price1bgColor"><strong><span editable-item modelname="serviceJoin12" * ng-style="{color:serviceJoin12Color}"></span></li>
						<li class="aligncenter"><span editable-item modelname="featuredField1" * ng-style="{color:featuredField1Color}"></li>
						<li class="aligncenter"><span editable-item modelname="featuredField2" * ng-style="{color:featuredField2Color}"></li>
						<li class="aligncenter"><span editable-item modelname="featuredField3" * ng-style="{color:featuredField3Color}"></li>
						<li class="aligncenter"><span editable-item modelname="featuredField4" * ng-style="{color:featuredField4Color}"></li>
						<li class="aligncenter"><span editable-item modelname="featuredField5" * ng-style="{color:featuredField5Color}"></li>
						<li class="aligncenter"><span editable-item modelname="featuredField6" * ng-style="{color:featuredField6Color}"></li>
						<li class="aligncenter"><span editable-item modelname="featuredField7" * ng-style="{color:featuredField7Color}"></li>
						<li class="aligncenter"><span editable-item modelname="featuredField8" * ng-style="{color:featuredField8Color}"></li>
						<li class="aligncenter"><span editable-item modelname="featuredField9" * ng-style="{color:featuredField9Color}"></li>
						<li class="aligncenter button_box"><a class="btn btn-red btn-lg" href="#contact" editable-bg modelname="button2bgColor">Contact Us</a></li>
					</ul>
					</li>
					<li>
					<ul>
						<li class="plan_name aligncenter" editable-bg modelname="paln3bgColor"><span editable-item modelname="serviceJoin13" * ng-style="{color:serviceJoin13Color}"></span></li>
						<li class="plan_price aligncenter" editable-bg modelname="price3bgColor"><strong><span editable-item modelname="serviceJoin14" * ng-style="{color:serviceJoin14Color}"></span></li>
              <li class="aligncenter"><span editable-item modelname="rightField1" * ng-style="{color:rightField1Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="rightField2" * ng-style="{color:rightField2Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="rightField3" * ng-style="{color:rightField3Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="rightField4" * ng-style="{color:rightField4Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="rightField5" * ng-style="{color:rightField5Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="rightField6" * ng-style="{color:rightField6Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="rightField7" * ng-style="{color:rightField7Color}"></li>
  						<li class="aligncenter"><span editable-item modelname="rightField8" * ng-style="{color:rightField8Color}"></li>
						<li class="aligncenter button_box"><a class="btn btn-red btn-lg" href="#contact" editable-bg modelname="button3bgColor">Contact Us</a></li>
					</ul>
					</li>
				</ul>
					</div>
				</div>
			</div>
	</section>
	<!-- End pricing -->

	<!-- Start testimoni -->
	<!-- <section id="testimoni" editable-bg modelname="testimoniBgColor">
			<div class="container" >
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h3 class="heading text-center"><span editable-field * ng-bind="mc.items.serviceJoin15" * ng-style="{color:mc.items.serviceJoin15Color}"></span></h3>
						<ul class="ticker testimoni">
							<li>
								<a href="#"><img src="img/testimoni/avatar2.jpg" id="testimoni-img" class="testimo-avatar" alt="" /></a>
								<div editable-image modelname="testimoniImg" bind-option="forground" bind-divid="testimoni-img"></div>
								<p editable-field * ng-bind="mc.items.serviceJoin16" * ng-style="{color:mc.items.serviceJoin16Color}">
								</p>
								<p class="testimoni-info" editable-field * ng-bind="mc.items.serviceJoin17" * ng-style="{color:mc.items.serviceJoin17Color}"></p>
							</li>
							<!-- <li>
								<a href="#"><img src="img/testimoni/avatar2.jpg" class="testimo-avatar" alt="" /></a>
								<p>
								Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam.
								</p>
								<p class="testimoni-info">Iyem pariem - <a href="#">DD designer</a></p>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
	</section>
	<!-- End testimoni -->

	<!-- Start action -->
	<!-- <section id="action">
		<div class="container">
			<div class="col-sm-3" editable-image modelname="testimoniImg" bind-option="forground" bind-divid="testimoni-img"></div>
			<div class="row">
				<div class="col-lg-12 aligncenter">
					<h4 editable-field * ng-bind="mc.items.serviceJoin18" * ng-style="{color:mc.items.serviceJoin18Color}"></h4>
					<p editable-field * ng-bind="mc.items.serviceJoin19" * ng-style="{color:mc.items.serviceJoin19Color}"></p>
					<p editable-field * ng-bind="mc.items.serviceJoin20" * ng-style="{color:mc.items.serviceJoin20Color}"><p>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End action -->

	<!-- Start contact -->
	<section id="contact" editable-bg modelname="contactBgColor">
			<div class="container" >
				<div class="row">
					<div class="col-lg-7">
						<h3 class="heading"  editable-item modelname="serviceJoin21" * ng-style="{color:serviceJoin21Color}"></h3>
            <!-- Replace2 -->
            <form name="form2" ng-controller="form2Ctrl">
              <fieldset class="subscribe-form" ng-hide="form2.$submitted">
                <ul class="listForm">
                  <li>
                  <input class="subscribe" type="text" placeholder="Enter your name" ng-model="form2.name">
                </li>
                  <li>
                  <input class="subscribe" type="email" placeholder="Enter your email address" ng-model="form2.email">
                    </li>
                      <li>
                  <textarea rows="9" style="width:100%;" class="subscribe" placeholder="Enter your message" ng-model="form2.message"></textarea>
                    </li>
                </ul>
              </fieldset>
              <span ng-show="form2.$submitted">Thanks, we will be in touch with you soon.</span>
              <div class="form-group">
                <button class="btn btn-lg btn-red" ng-disabled="!form2.$valid" ng-click="saveForm2()">Submit</button>
              </div>
            </form>
            <!-- Replace2 -->
					</div>
					<div class="col-lg-5">
						<!-- <div class="location">
							<div class="location-address">
								<span editable-field * ng-bind="mc.items.serviceJoin22" wysiwyg="true" * ng-style="{color:mc.items.serviceJoin22Color}"></span>
								<span class="location-arrow"></span>
							</div>
						</div> -->
					</div>
				</div>
			</div>
	</section>
	<!-- End contact -->

	<!-- Start subscribe -->
	<section id="subscribe" editable-bg modelname="subscribeBgColor">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h5 editable-item modelname="serviceJoin23" * ng-style="{color:serviceJoin23Color}"></h5>
					<p editable-item modelname="serviceJoin24" * ng-style="{color:serviceJoin24Color}"></p>
          <!-- Replace3 -->
          <form name="form3" ng-controller="form3Ctrl">
            <fieldset class="subscribe-form" ng-hide="form3.$submitted">
              <input class="subscribe" type="email" placeholder="Enter your email address" ng-model="form3.email">
            </fieldset>
            <span ng-show="form3.$submitted">Thanks for joining our mailing list.</span>
            <div class="form-group">
              <button class="btn btn-lg btn-red" ng-disabled="!form3.$valid" ng-click="saveForm3()">Join</button>
            </div>
          </form>
          <!-- Replace3 -->

					<!-- <a href="#" class="social-network"><i class="icon-facebook icon-rounded icon-128"></i></a>
					<a href="#" class="social-network"><i class="icon-twitter icon-rounded icon-128"></i></a>
					<a href="#" class="social-network"><i class="icon-google-plus icon-rounded icon-128"></i></a>
					<a href="#" class="social-network"><i class="icon-linkedin icon-rounded icon-128"></i></a> -->
				</div>
			</div>
		</div>
	</section>
	<!-- End subscribe -->

	<!-- Start footer -->
	<footer editable-bg modelname="footerBgColor">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="copyright">
						<li><span editable-item modelname="serviceJoin25" * ng-style="{color:serviceJoin25Color}"></span></li>
						<li><span editable-item modelname="serviceJoin26" * ng-style="{color:serviceJoin26Color}"></span></li>
						<li><span editable-item modelname="serviceJoin27" * ng-style="{color:serviceJoin27Color}"></span></li>
					</ul>
					<!--<span class="copyright">
						<span editable-field * ng-bind="mc.items.serviceJoin25" * ng-style="{color:mc.items.serviceJoin25Color}"></span>
						<span editable-field * ng-bind="mc.items.serviceJoin26" * ng-style="{color:mc.items.serviceJoin26Color}"></span>
						<span editable-field * ng-bind="mc.items.serviceJoin27" * ng-style="{color:mc.items.serviceJoin27Color}"></span>
					</span>-->
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer -->

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="js/jquery.js"></script>

	<!-- JavaScript easing plugins -->
	<script src="js/jquery.easing.1.3.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

	<!-- JavaScript navigation -->
	<script src="js/navigation/jquery.scrollTo-1.4.2-min.js"></script>
	<script src="js/navigation/jquery.smooth-scroll.js"></script>
	<script src="js/navigation/waypoints.min.js"></script>
	<script src="js/navigation/navbar.js"></script>

	<!-- JavaScript bgSlider slider -->
	<script src="js/bgslider/bgSlider.js"></script>

	<!-- isotope -->
    <script src="js/filter/jquery.isotope.min.js"></script>
	<script src="js/filter/setting.js"></script>

	<!-- JavaScript cslider -->
 	<!--<script src="js/cslider/modernizr.custom.28468.js"></script>
	<script src="js/cslider/jquery.cslider.js"></script>
	<script src="js/cslider/setting.js"></script>-->

	<!-- prettyPhoto -->
	<!--<script src="js/prettyPhoto/jquery.prettyPhoto.js"></script>
	<script src="js/prettyPhoto/setting.js"></script> -->

	<!-- JavaScript ticker -->
	<!--<script src="js/ticker/ticker.js"></script>
	<script src="js/ticker/setting.js"></script> -->

	<!-- JavaScript totop -->
	<script src="js/totop/jquery.ui.totop.js"></script>
	<script src="js/totop/setting.js"></script>

	<!-- Contact validation js -->
    <script src="js/validation.js"></script>

	<!-- Custom js -->
    <script src="js/custom.js"></script>

    <!-- Remove-->
      <script type="text/javascript" src="../admin-panel/src/jquery-ui/jquery-ui.min.js"></script>

    	<script src="../../app/lib/handlebars/handlebars.min.js"></script>
    	<script src="../../app/lib/angular/angular.js"></script>
    	<script src="../../app/custom/angular-xeditable/dist/js/xeditable.js"></script>
    	<script src="../../app/lib/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
    	<script src='../../app/lib/textAngular/dist/textAngular-rangy.min.js'></script>
    	<script src='../../app/lib/textAngular/dist/textAngular-sanitize.min.js'></script>
    	<script src='../../app/lib/textAngular/dist/textAngular.min.js'></script>
    	<script src="../../app/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
    	<script src="../../app/lib/ng-file-upload/ng-file-upload.js"></script>
    <!-- END Remove-->

      <!--AdminModeDisabled
      <script type="text/javascript" src="app/bower_components/angular/angular.js"></script>
      AdminModeDisabled-->

      <script type="text/javascript" src="app/bower_components/angular-resource/angular-resource.js"></script>

    <!-- Remove-->
    	<script src="../../app/app.js"></script>
    <!-- END Remove-->

    <!--AdminModeDisabled
      <script src="app/app.js"></script>
    AdminModeDisabled-->

      <script type="text/javascript" src="app/bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
      <script type="text/javascript" src="app/bower_components/ng-file-upload/ng-file-upload.js"></script>

    <!-- Remove-->
    	<script src="../../app/services.js"></script>
    	<script src="../../app/controllers.js"></script>
    <!-- END Remove-->

        <!-- Template specific angular code -->
        <script type="text/javascript" src="app/bower_components/angular/angular.js"></script>
      	<script type="text/javascript" src="app/bower_components/angular-resource/angular-resource.js"></script>
      	<script type="text/javascript" src="app/services/image-uplaod/image-upload.service.js"></script>
      	<script type="text/javascript" src="app/services/form/form.service.js"></script>
      	<script type="text/javascript" src="app/controllers/formController/form.controller.js"></script>
      	<script type="text/javascript" src="app/directives/file-upload/file-upload.directive.js"></script>
        <!-- END Template specific angular code -->

  </body>
</html>
