<!DOCTYPE html> 
<html lang="en" ng-controller="MainController as mc">     
    <head>

        <!-- Basic  -->         
        <meta charset="utf-8"> 
        <title>{{mc.items.title}}</title> 
         <base href="/servicejoin.com/templates/starter-template/" />
        <meta name="author" content="DSA79"> 
        <meta name="keywords" content="responsive, html5 template, one page, landing, startup, business, company, corporate, creative"> 
        <meta name="description" content="Crossway - Startup Landing Page Template"> 
        <!-- Mobile Specific Metas -->         
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
        <link href="css/bootstrap.css" rel="stylesheet"> 
        <!--<link href="css/font-awesome.min.css" rel="stylesheet">--> 
        <link href="css/flexslider.css" rel="stylesheet"> 
        <link href="css/owl.carousel.css" rel="stylesheet"> 
        <!-- On Scroll Animations -->         
        <link href="css/animate.css" rel="stylesheet"> 
        <!-- Template CSS -->         
        <link href="css/style.css" rel="stylesheet"> 
        <!-- Responsive CSS -->         
        <link href="css/responsive.css" rel="stylesheet">

        <link href="css/colorpicker.min.css" rel="stylesheet">
        

        <link href="css/app.css" rel="stylesheet"> 
        <!-- Favicons -->         
        <link rel="shortcut icon" href="img/icons/favicon.ico">
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
        <!-- Google Fonts -->         
        <!--<link href='http://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'> -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

       
        <!--<link rel="stylesheet" href="app/lib/angular-xeditable/dist/css/xeditable.css">-->
        <link rel="stylesheet" href="../../app/custom/angular-xeditable/dist/css/xeditable.css">
        <link rel='stylesheet' href='../../app/lib/textAngular/dist/textAngular.css'>
    </head>     
    <body class="" tpl-ver="recruiting-template">
        <!-- PRELOADER
		============================================= -->         
        <div id="preloader"> 
            <div id="status"></div>             
        </div>         
        <!-- HEADER
		============================================= -->
		<button id="test" class="show-admin-menu btn btn-sm btn-default" ng-click="show=true" ng-show="!show && authenticated">+ Show Admin Menu</button>
		<form class="admin-menu" role="search" ng-show="show && authenticated">
            <div class="form-group">
              <input type="text" class="form-control" name="page" placeholder="Create Page" ng-model="mc.new_page">
              <button type="submit" class="btn btn-default" ng-click="mc.createPage()">Create New Page</button>
            </div>
            
            <div class="form-group">
              <input ng-change="mc.saveTitle()" type="text" class="form-control" name="title" placeholder="Title" ng-model="mc.items.title">
            </div>
            
            <button class="hide-admin-menu btn btn-sm btn-default" ng-click="show=false">- Hide</button>
        </form>
        <header id="header" class="main-header"> 
            <div class="navbar navbar-fixed-top" editable-bg modelname="headerBgColor" defaultvalue="#fff"> 
                <div class="container">
                      <!-- Logo & Responsive Menu -->                     
                    <div class="navbar-header"> 
                        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-menu"> 
                            <span class="sr-only">Toggle navigation</span> 
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span> 
                        </button>                         
                        <div class="navbar-brand main-logo clearfix">
                            <a href="#top-page-banner"><img src="img/brand-logo.png" alt="logo" role="banner"></a><div editable-field tagname="h1" id="servicejoin" class="nav-item" modelname="servicejoin" hrefname="servicejoinHref" color="servicejoinColor"></div>
                        </div>  
                        
                    </div>                     
                    <!-- /.navbar-header -->
                    
                    <!-- Navigation -->                     
                    <nav id="navigation-menu" class="navigation-menu collapse navbar-collapse" role="navigation"> 
                        <ul class="nav navbar-nav navbar-right"> 
                            <li>
                                <div editable-field id="header1" tagname="a" modelname="header1" hrefname="header1Href" color="header1Color" class="nav-item"></div>
                                <!--a id="GoToHome" class="selected-nav" href="#intro">Home</a-->
                            </li>                             
                            <li>
                                <div editable-field id="header2" tagname="a" modelname="header2" hrefname="header2Href" color="header2Color" class="nav-item"></div>
                                <!--a id="GoToAbout" href="#about-1">About</a-->
                            </li>                             
                            <li>
                                <div editable-field id="header3" tagname="a" modelname="header3" hrefname="header3Href" color="header3Color" class="nav-item"></div>
                                <!--a id="GoToFeatures" href="#features">Features</a-->
                            </li>                             
                            <li>
                                <div editable-field id="header4" tagname="a" modelname="header4" hrefname="header4Href" color="header4Color" class="nav-item"></div>
                                <!--a id="GoToFaq" href="#faq">FAQ</a-->
                            </li>                             
                            <li>
                                <div editable-field id="header5" tagname="a" modelname="header5" hrefname="header5Href" color="header5Color" class="nav-item"></div>
                                <!--a id="GoToClients" href="#clients">Clients</a-->
                            </li>   
                             <li>
                                <div editable-field id="signup-button" tagname="a" modelname="signupButton" hrefname="signupButtonHref" color="signupButtonColor" classname="btn btn-rounded" class="nav-item"></div>
                                <!--a href="#0" class="btn btn-rounded">Sign Up</a-->
                            </li>
                        </ul>
                    </nav>                     
                    <!-- /.navbar-collapse --> 
                    
                </div><!-- /.container --> 

            </div><!-- /.navbar -->                
                     
        </header>         
        <!-- END HEADER -->         
        <!-- CONTENT WRAPPER
		============================================= -->  

        <div id="content-wrapper" > 
            <!-- INTRO
			============================================= -->  
		
			<div class="row">
            <section id="intro" class="intro-parallax col-md-12 col-sm-12 col-xs-12 col-lg-12" bg-image="bg-top1.jpg" editable-image> 
                <div class="container"> 
                    <div class="hero-section">
                        <div class="row"> 
                            <!-- Intro Section Description -->                         
                            <div id="intro_description" class="col-xs-12 col-sm-12 col-md-8"> 
                                <div id="hero-title" class="hero-title">
                                    <!--h1 editable-text="mc.items.heroTitle">{{mc.items.heroTitle}}</h1-->
                                    <div editable-field tagname="h1" modelname="heroTitle" hrefname="heroTitleHref" color="heroTitleColor" class="heroTitle"></div>
                                </div>
                                <ul id="hero-point-container" class="list-unstyled hero-points clearfix">
                                    <li>
                                        <!--<p editable-text='mc.items.heroPoint1' onbeforesave='mc.updateItem($data, "heroPoint1")'>{{mc.items.heroPoint1}}</p>-->
                                    <!--</li>-->
                                    <!-- <li>-->
                                    <!--    <p editable-text='mc.items.heroPoint2' onbeforesave='mc.updateItem($data, "heroPoint2")'>{{mc.items.heroPoint2}}</p>-->
                                    <!--</li>-->
                                    <!-- <li>-->
                                    <!--    <p editable-text='mc.items.heroPoint3' onbeforesave='mc.updateItem($data, "heroPoint3")'>{{mc.items.heroPoint3}}</p>-->
                                        <!--p editable-text="mc.items.heroPoint1" >{{mc.items.heroPoint1}}</p-->
                                        <div editable-field tagname="span" modelname="heroPoint1" hrefname="heroPoint1Href" color="heroPoint1Color" class="heroPoint"></div>
                                    </li>
                                     <li>
                                         <div editable-field tagname="span" modelname="heroPoint2" hrefname="heroPoint2Href" color="heroPoint2Color" class="heroPoint"></div>
                                        <!--p editable-text="mc.items.heroPoint2">{{mc.items.heroPoint2}}</p-->
                                    </li>
                                     <li>
                                        <div editable-field tagname="span" modelname="heroPoint3" hrefname="heroPoint3Href" color="heroPoint3Color" class="heroPoint"></div>
                                        <!--p editable-text="mc.items.heroPoint3">{{mc.items.heroPoint3}}</p-->
                                    </li>
                                </ul>
                                
                                <!--<a href="" class="btn btn-primary btn-lg">join now free</a>-->
                                                   
                               
                            </div>                         
                            <!-- End Intro Section Description -->                         
                            <!-- Intro Section Form -->                         
                            <div id="intro_form" class="col-xs-12 col-sm-12 col-md-4"> 
                                <!--Register form -->     
                                
                                
                        
                            </div>                         
                            <!-- End Intro Section Form -->                         
                        </div>                     
                        <!-- End row -->
                    </div>
                </div>                 
                <!-- End container -->                 
            </section>             
            <!-- END INTRO --> 
            </div>                   
       </div>
        <!-- END CONTENT WRAPPER -->         
        <!-- EXTERNAL SCRIPTS
		============================================= -->         
        <script src="js/jquery-2.1.0.min.js" type="text/javascript"></script>
        <script src="../../app/lib/handlebars/handlebars.min.js"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>         
        <script src="js/retina.js" type="text/javascript"></script>         
        <script src="js/modernizr.custom.js" type="text/javascript"></script>         
        <script src="js/jquery.easing.js" type="text/javascript"></script>         
        <script src="js/jquery.parallax-1.1.3.js" type="text/javascript"></script>         
        <script src="js/jquery.validate.min.js" type="text/javascript"></script>         
        <script defer src="js/jquery.flexslider.js" type="text/javascript"></script>         
        <script src="js/jquery.accordion.source.js" type="text/javascript"></script>         
        <script src="js/owl.carousel.js" type="text/javascript"></script>         
        <script src="js/waypoints.min.js" type="text/javascript"></script>         
        <script src="js/animations.js" type="text/javascript"></script>         
        <script src="js/custom.js" type="text/javascript"></script>     
        <script src="js/main.js" type="text/javascript"></script> 
       
        <!-- angular app -->
         <script src="../../app/lib/angular/angular.js"></script>
        <!--<script src="app/lib/angular/angular.js"></script>-->
        <!--<script src="app/lib/angular-xeditable/dist/js/xeditable.js"></script>-->
        <script src="../../app/custom/angular-xeditable/dist/js/xeditable.js"></script>
        <script src="js/bootstrap-colorpicker-module.min.js"></script>
        <script src='../../app/lib/textAngular/dist/textAngular-rangy.min.js'></script>
        <script src='../../app/lib/textAngular/dist/textAngular-sanitize.min.js'></script>
        <script src='../../app/lib/textAngular/dist/textAngular.min.js'></script>
        <script src="../../app/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
        <script src="../../app/lib/ng-file-upload/ng-file-upload.min.js"></script>
        <script src="../../app/app.js"></script>
        <script src="../../app/services.js"></script>
        <script src="../../app/controllers.js"></script>
        <!-- /angular app -->

        <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->         
        <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->         
        <!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->  
    </body>     
</html>
