<!DOCTYPE html>
<html lang="en" ng-controller="MainController as mc">
  <head>
    <meta charset="utf-8">
	
    <title>{{mc.items.title}}</title>
	<base href="/servicejoin.com/templates/servicejoin-template/" />
	<meta name="author" content="DSA79"> 
        <meta name="keywords" content="responsive, html5 template, one page, landing, startup, business, company, corporate, creative"> 
        <meta name="description" content="Crossway - Startup Landing Page Template"> 
        <!-- Mobile Specific Metas -->         
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    
    <!-- font awesome -->
	<link href="css/font-awesome.css" rel="stylesheet">
    <!--[if lt IE 9]>
	  <link href="css/font-awesome-ie7.css" rel="stylesheet">
	<![endif]-->
	<link href="css/font-awesome-set.css" rel="stylesheet">

    <link href="css/flexslider.css" rel="stylesheet"> 
        <link href="css/owl.carousel.css" rel="stylesheet"> 
        <!-- On Scroll Animations -->         
        <link href="css/animate.css" rel="stylesheet"> 
        <!-- Responsive CSS -->         
        <link href="css/responsive.css" rel="stylesheet">

        <link href="css/colorpicker.min.css" rel="stylesheet">
        

        <link href="css/app.css" rel="stylesheet"> 
        <!-- Favicons -->         
        <link rel="shortcut icon" href="templates/template1/img/icons/favicon.ico">
        <link rel="apple-touch-icon" sizes="114x114" href="templates/template1/img/icons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="templates/template1/img/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" href="templates/template1/img/icons/apple-touch-icon.png">
        <!-- Google Fonts -->         
        <!--<link href='http://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'> -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

       
        <!--<link rel="stylesheet" href="app/lib/angular-xeditable/dist/css/xeditable.css">-->
        <link rel="stylesheet" href="../../app/custom/angular-xeditable/dist/css/xeditable.css">
        <link rel='stylesheet' href='../../app/lib/textAngular/dist/textAngular.css'>
        
        <!-- cslider style -->
    <link href="css/cslider.css" rel="stylesheet">
	<noscript>
		<link rel="stylesheet" type="text/css" href="css/nojs.css" />
	</noscript>	

    <!-- prettyPhoto style -->
    <link href="css/prettyPhoto.css" rel="stylesheet">
	
    <!-- Custom style -->
    <link href="css/style.css" rel="stylesheet">

	<!-- Color style -->
    <link href="skin/default.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->	
  </head>
  <body tpl-ver="recruiting-template">
  	<!-- Preloader -->
  	<div id="preloader"> 
            <div id="status"></div>             
        </div> 
        <button id="test" class="show-admin-menu btn btn-sm btn-default" ng-click="show=true" ng-show="!show && authenticated">+ Show Admin Menu</button>
		<form class="admin-menu" role="search" ng-show="show && authenticated">
            <div class="form-group">
              <input type="text" class="form-control" name="page" placeholder="Create Page" ng-model="mc.new_page">
              <button type="submit" class="btn btn-default" ng-click="mc.createPage()">Create New Page</button>
            </div>
            
            <div class="form-group">
              <input ng-change="mc.saveTitle()" type="text" class="form-control" name="title" placeholder="Title" ng-model="mc.items.title">
            </div>
            
            <!--div class="form-group">
                <label>Theme</label>
                <select class="form-control" ng-model="mc.css" ng-options="cssFolder.url as cssFolder.name for cssFolder in mc.cssFolders">
                </select>
            </div-->
    
            <!--div class="form-group">
                <h4><b>Menu Type:</b></h4>
                <input type="radio" name="menuType" value="page" id="menuType-Page">
                <label for="menuType-Page">Page</label>
                <br>
                <input type="radio" name="menuType" value="site" id="menuType-Site">
                <label for="menuType-Site">Site</label>
            </div-->
            <button class="hide-admin-menu btn btn-sm btn-default" ng-click="show=false">- Hide</button>
        </form>
	<!-- Start home -->
	<section id="home" class="bgslider-wrapper">
		<div id="animated-bg">
			<div id="animated-bg1" class="bg-slider" bg-image="bg1.jpg" editable-image></div>
			<!--<div id="animated-bg2" class="bg-slider" bg-image="bg2.jpg" editable-image></div>-->
			<!--<div id="animated-bg3" class="bg-slider" bg-image="bg3.jpg" editable-image></div>-->
		</div>
		<div class="home-contain">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<a href="#home" class="logo"><img src="img/logo.png" alt="" /></a>
					</div>	
					<div class="col-lg-8 col-lg-offset-2">
						<div id="da-slider" class="da-slider">
							<div class="da-slide">
								<h2>We are professional agency</h2>
								<p>Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam.</p>
							</div>
							<div class="da-slide">
								<h2>Supported by a professional team</h2>
								<p>Clita perpetua pri et, in vis suas invenire definitionem, te eam erant soleat. Eu vis assum movet, duo quis eirmod periculis ut, et has nominavi tincidunt ullamcorper. No erat dicat vis. Sea an apeirian inciderint quo id dico agam cotidieque.</p>
							</div>
							<div class="da-slide">
								<h2>Make more than 1000 apps</h2>
								<p>Quo autem complectitur an, porro commodo impedit in nec. Eam facer elaboraret ea, ad eos nullam consulatu maiestatis. Eum mazim simul ne, dicta mnesarchum duo no, ex nec graece verear. Quodsi mentitum iudicabit ut vel, nam suscipiantur</p>
							</div>
							<div class="da-slide">
								<h2>High quality and full service</h2>
								<p>Odio appellantur vis te, meliore senserit vis et, cu facer voluptua euripidis sed. Ut aliquam accommodare eos, no qui legere vituperatoribus, ludus vocent nec an. Aperiam philosophia et vis, etiam  electram ex pro, dicit decore no quo</p>
							</div>
							<nav class="da-arrows">
								<span class="da-arrows-prev"></span>
								<span class="da-arrows-next"></span>
							</nav>
						</div>
						<div class="btn-group">
							 <a href="#about" class="btn btn-default btn-dark btn-cta">
								<span class="cta-head">Get started with us</span><br />
								Mea no audiam euismod meliore
							 </a>
							 <a href="#" class="btn btn-default btn-red btn-cta">
								<span class="cta-head">Download template</span><br />
								Nec errem imperdiet abhorreant qua							 
							 </a>
						</div>
					</div>					
				</div>	
			</div>	
		</div>
	</section>
	<!-- End home -->
	<div class="clearfix"></div>
	<!-- Header -->
	<header>
		<div class="navbar">
			<div class="container">
				<a class="navbar-brand" href="index.html"><img src="img/small-logo.png" alt="" /></a>
				<div class="nav-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#feature">Featured</a></li>
						<li><a href="#gallery">Gallery</a></li>
						<li><a href="#pricing">Pricing</a></li>
						<li><a href="#testimoni">Testimoni</a></li>
						<li><a href="#contact">Contact</a></li>				
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Extra</a>
							<ul class="dropdown-menu">
								<li><a href="detail.html">Product detail</a></li>								
								<li><a href="maintenance.html">Maintenance page</a></li>
								<li><a href="404.html">404 page</a></li>								
								<li><a href="icons.html">Icons</a></li>
								<li><a href="Buttons.html">Buttons</a></li>
								<li><a href="accordion.html">Accordion</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- End nav-collapse -->
				<div class="nav-right"><a href="#" class="btn btn-red">Download for free</a></div>
			</div><!-- End container -->
		</div><!-- End navbar -->
	</header>
	<!-- End header -->
	
	<!-- Start about -->
	<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<h3 class="heading">Who we are</h3>
						<p>
						Argumentum in nec errem imperdiet abhorreant ei. Id lorem quando legere eos, ea nam diam disputando, ea est hinc salutatus similique. Vix posse ipsum munere ne, est mazim accusata scribentur ne. Consulatu eloquentiam ex vis, his zril oratio invenire ex, duo sint abhorreant cotidieque ut.
						</p>
						<p>
						Clita perpetua pri et, in vis suas invenire definitionem, te eam erant soleat. Eu vis assum movet, duo quis eirmod periculis ut, et has nominavi tincidunt ullamcorper. No erat dicat vis. Sea an apeirian inciderint, quo id dico agam cotidieque, pro exerci latine eu. Sea cibo alterum antiopam ei.
						</p>
						<p>
						<a href="#contact" class="btn btn-default">Get in touch with us</a>
						</p>
						<img src="img/span-arrow.png" class="img-responsive pull-right" alt="" />
					</div>	
					<div class="col-lg-7">
						<img src="img/flat-img.png" class="img-responsive" alt="" />
					</div>						
				</div>	
			</div>		
	</section>
	<!-- End about -->

	<!-- Start feature -->
	<section id="feature">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="tab-feature">
							<h3 class="feature-head">Our awesome features</h3>
							<ul id="myTab" class="nav nav-tabs">
								<li class="active"><a href="#tab1" class="tab-bg1" data-toggle="tab">Multi purposes</a></li>
								<li><a href="#tab2" class="tab-bg2" data-toggle="tab">Flat designs</a></li>
								<li><a href="#tab3" class="tab-bg3" data-toggle="tab">Responsive</a></li>
								<li><a href="#tab4" class="tab-bg4" data-toggle="tab">Bootstrap 3</a></li>
								<li><a href="#tab5" class="tab-bg5" data-toggle="tab">Easy customize</a></li>
								<li><a href="#tab6" class="tab-bg6" data-toggle="tab">Working contact</a></li>	
								<li><a href="#tab7" class="tab-bg7" data-toggle="tab">Full support</a></li>
								<li><a href="#tab8" class="tab-bg8" data-toggle="tab">Documentation</a></li>										
							</ul>
						</div>
					</div>	
					<div class="col-lg-8">
						<div id="myTabContent" class="tab-content fature-contain">
							<div class="tab-pane fade in active" id="tab1">
								<div class="feature-title">
									<i class="icon-thumbs-up icon-rounded icon-128"></i>
									<h4>Multi purposes landing page</h4>
								</div>
								<p>
								Quo autem complectitur an, porro commodo impedit in nec. Eam facer elaboraret ea, ad eos nullam consulatu maiestatis. Eum mazim simul ne, dicta mnesarchum duo no, ex nec graece verear. Quodsi mentitum iudicabit ut vel, nam suscipiantur definitionem delicatissimi in. Harum accusata at pro, mea ne enim probo mediocrem. Vel ei voluptua ponderum phaedrum, pro atqui intellegam id. Clita perpetua pri et, in vis suas invenire definitionem, te eam erant soleat.
								</p>
								<p>
								Nec ad homero maluisset delicatissimi, error possit impetus vix id. Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam, sea nemore timeam nusquam eu, alia admodum per at.
								</p>
								<p><a href="#" class="btn btn-default btn-lg">learn more</a></p>
							</div>
							<div class="tab-pane fade" id="tab2">
								<div class="feature-title">
									<i class="icon-desktop icon-rounded icon-128"></i>
									<h4>Modern flat design</h4>
								</div>
								<p>
								Nec ad homero maluisset delicatissimi, error possit impetus vix id. Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam, sea nemore timeam nusquam eu, alia admodum per at.
								</p>
								<p>
								Id legendos splendide qui, errem causae molestiae at pri, natum accumsan forensibus cum at. Mei in omittam iudicabit, te sonet fastidii detracto qui. Pro ut nobis fabulas gloriatur. Pri sumo phaedrum cu, in est blandit corrumpit pertinacia. Disputando dissentiunt ei pro, equidem tibique maluisset et his. Graeci habemus pro in, ei eam quas vivendum comprehensam.
								</p>
								<p><a href="#" class="btn btn-default btn-lg">learn more</a></p>
							</div>
							<div class="tab-pane fade" id="tab3">
								<div class="feature-title">
									<i class="icon-fullscreen icon-rounded icon-128"></i>
									<h4>Compatible with all screen device</h4>
								</div>
								<p>
								Clita perpetua pri et, in vis suas invenire definitionem, te eam erant soleat. Eu vis assum movet, duo quis eirmod periculis ut, et has nominavi tincidunt ullamcorper. No erat dicat vis. Sea an apeirian inciderint, quo id dico agam cotidieque, pro exerci latine eu. Sea cibo alterum antiopam ei.
								</p>
								<p>
								Quo autem complectitur an, porro commodo impedit in nec. Eam facer elaboraret ea, ad eos nullam consulatu maiestatis. Eum mazim simul ne, dicta mnesarchum duo no, ex nec graece verear. Quodsi mentitum iudicabit ut vel, nam suscipiantur definitionem delicatissimi in. Harum accusata at pro, mea ne enim probo mediocrem. Vel ei voluptua ponderum phaedrum, pro atqui intellegam id.
								</p>
								<p><a href="#" class="btn btn-default btn-lg">learn more</a></p>
							</div>
							<div class="tab-pane fade" id="tab4">
								<div class="feature-title">
									<i class="icon-github icon-rounded icon-128"></i>
									<h4>Build using bootstrap 3</h4>
								</div>
								<p>
								Id legendos splendide qui, errem causae molestiae at pri, natum accumsan forensibus cum at. Mei in omittam iudicabit, te sonet fastidii detracto qui. Pro ut nobis fabulas gloriatur. Pri sumo phaedrum cu, in est blandit corrumpit pertinacia. Disputando dissentiunt ei pro, equidem tibique maluisset et his. Graeci habemus pro in, ei eam quas vivendum comprehensam.
								</p>
								<p>
								Clita perpetua pri et, in vis suas invenire definitionem, te eam erant soleat. Eu vis assum movet, duo quis eirmod periculis ut, et has nominavi tincidunt ullamcorper. No erat dicat vis. Sea an apeirian inciderint, quo id dico agam cotidieque, pro exerci latine eu. Sea cibo alterum antiopam ei.
								</p>
								<p><a href="#" class="btn btn-default btn-lg">learn more</a></p>
							</div>
							<div class="tab-pane fade" id="tab5">
								<div class="feature-title">
									<i class="icon-pencil icon-rounded icon-128"></i>
									<h4>Very easy to customize</h4>
								</div>
								<p>
								Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam, sea nemore timeam nusquam eu, alia admodum per at.
								</p>								
								<p>
								Mei in omittam iudicabit, te sonet fastidii detracto qui. Pro ut nobis fabulas gloriatur. Pri sumo phaedrum cu, in est blandit corrumpit pertinacia. Disputando dissentiunt ei pro, equidem tibique maluisset et his. Graeci habemus pro in, ei eam quas vivendum comprehensam.
								</p>
								<p><a href="#" class="btn btn-default btn-lg">learn more</a></p>
							</div>
							<div class="tab-pane fade" id="tab6">
								<div class="feature-title">
									<i class="icon-envelope-alt icon-rounded icon-128"></i>
									<h4>Working PHP contact form</h4>
								</div>
								<p>
								Lorem ipsum dolor sit amet, etiam electram ex pro, dicit decore no quo. Odio appellantur vis te, meliore senserit vis et, cu facer voluptua euripidis sed. Ut aliquam accommodare eos, no qui legere vituperatoribus, ludus vocent nec an. Aperiam philosophia et vis.
								</p>								
								<p>
								Clita perpetua pri et, in vis suas invenire definitionem, te eam erant soleat. Eu vis assum movet, duo quis eirmod periculis ut, et has nominavi tincidunt ullamcorper. No erat dicat vis. Sea an apeirian inciderint, quo id dico agam cotidieque, pro exerci latine eu. Sea cibo alterum antiopam ei.
								</p>
								<p><a href="#" class="btn btn-default btn-lg">learn more</a></p>
							</div>
							<div class="tab-pane fade" id="tab7">
								<div class="feature-title">
									<i class="icon-plus-sign icon-rounded icon-128"></i>
									<h4>We provide full support</h4>
								</div>
								<p>
								Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam, sea nemore timeam nusquam eu, alia admodum per at. Eu vis assum movet, duo quis eirmod periculis ut.
								</p>
								<p>
								Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam, sea nemore timeam nusquam eu, alia admodum per at.
								</p>
								<p><a href="#" class="btn btn-default btn-lg">learn more</a></p>
							</div>
							<div class="tab-pane fade" id="tab8">
								<div class="feature-title">
									<i class="icon-file-alt icon-rounded icon-128"></i>
									<h4>Documentation included</h4>
								</div>
								<p>
								Causae molestiae at pri, natum accumsan forensibus cum at. Mei in omittam iudicabit, te sonet fastidii detracto qui. Pro ut nobis fabulas gloriatur. Pri sumo phaedrum cu, in est blandit corrumpit pertinacia. Disputando dissentiunt ei pro, equidem tibique maluisset et his. Graeci habemus pro in, ei eam quas vivendum comprehensam.
								</p>
								<p>
								Lorem ipsum dolor sit amet, etiam electram ex pro, dicit decore no quo. Odio appellantur vis te, meliore senserit vis et, cu facer voluptua euripidis sed. Ut aliquam accommodare eos, no qui legere vituperatoribus, ludus vocent nec an. Aperiam philosophia et vis.
								</p>
								<p><a href="#" class="btn btn-default btn-lg">learn more</a></p>
							</div>								
						</div>
					</div>						
				</div>	
			</div>		
	</section>
	<!-- End feature -->
	
	<!-- Start gallery -->
	<section id="gallery">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="heading">Our gallery</h3>
						<div id="filter-bar">
							<ul id="filters" class="option-set">
								<li><a href="#" class="selected" data-filter=".all">All</a></li>
								<li><a href="#" data-filter=".interface">Interface</a></li>
								<li><a href="#" data-filter=".print">Print</a></li>
								<li><a href="#" data-filter=".illustration">Illustration</a></li>
								<li><a href="#" data-filter=".branding">Branding</a></li>
							</ul>
						</div>					
					</div>
				
					  <ul id="gallery-list" class="clearfix">
							<li class="item col-lg-4 all interface">				
								<div class="image-wrapper">	
									<img src="img/gallery/img1.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Velit dissentiunt an ius</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all interface">
								<div class="image-wrapper">	
									<img src="img/gallery/img2.jpg" class="img-responsive" alt=""/>
								</div>	
								<div class="img-title">
									<h6><a href="detail.html">Cu viris audire volumus</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>							
							</li>
							<li class="item col-lg-4 all print">
								<div class="image-wrapper">	
									<img src="img/gallery/img3.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Eros laudem omittantur</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>							
							</li>
							<li class="item col-lg-4 all branding">
								<div class="image-wrapper">	
									<img src="img/gallery/img4.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Admodum accommodare qui</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>							
							</li>	
							<li class="item col-lg-4 all print">
								<div class="image-wrapper">	
									<img src="img/gallery/img5.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">His diceret senserit ne</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>							
							</li>
							<li class="item col-lg-4 all illustration">
								<div class="image-wrapper">	
									<img src="img/gallery/img6.jpg" class="img-responsive" alt=""/>
								</div>		
								<div class="img-title">
									<h6><a href="detail.html">Consequuntur sed ne</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>							
							</li>
							<li class="item col-lg-4 all illustration">
								<div class="image-wrapper">	
									<img src="img/gallery/img7.jpg" class="img-responsive" alt=""/>
								</div>		
								<div class="img-title">
									<h6><a href="detail.html">Scripta habemus dolores</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>							
							</li>
							<li class="item col-lg-4 all branding">
								<div class="image-wrapper">	
									<img src="img/gallery/img8.jpg" class="img-responsive" alt=""/>
								</div>		
								<div class="img-title">
									<h6><a href="detail.html">Erroribus corrumpit</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>							
							</li>	
							<li class="item col-lg-4 all interface">
								<div class="image-wrapper">	
									<img src="img/gallery/img9.jpg" class="img-responsive" alt=""/>
								</div> 
								<div class="img-title">
									<h6><a href="detail.html">Nam dolore sapientem</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>							
							</li>					
						</ul>			
				</div>							
			</div>		
	</section>
	<!-- End gallery -->	

	<!-- Start pricing -->
	<section id="pricing">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="heading text-center">Special offer</h3>
				<ul class="pricing-table">
					<li>
					<ul>
						<li class="plan_name aligncenter">PERSONAL</li>
						<li class="plan_price aligncenter"><strong>&#36; 320/</strong>month</li>
						<li class="aligncenter">1 years of service</li>
						<li class="aligncenter">Technical support</li>
						<li class="aligncenter">HTML works</li>
						<li class="aligncenter">Any additional info</li>
						<li class="aligncenter">100% uptime</li>
						<li class="aligncenter">Access anywhere online</li>
						<li class="aligncenter">Automatic backups</li>
						<li class="aligncenter">Timesheet Approval</li>
						<li class="aligncenter button_box"><a class="btn btn-red btn-lg" href="#">Order now</a></li>
					</ul>
					</li>
					<li class="featured">
					<ul>
						<li class="plan_name aligncenter">PROFESSIONAL</li>
						<li class="plan_price aligncenter"><strong>&#36; 560/</strong>month</li>
						<li class="aligncenter">3 years of service</li>
						<li class="aligncenter">Technical support</li>
						<li class="aligncenter">HTML works</li>
						<li class="aligncenter">Any additional info</li>
						<li class="aligncenter">100% uptime</li>
						<li class="aligncenter">Access anywhere online</li>
						<li class="aligncenter">Automatic backups</li>
						<li class="aligncenter">Timesheet Approval</li>
						<li class="aligncenter">Cancel online at any time</li>
						<li class="aligncenter button_box"><a class="btn btn-red btn-lg" href="#">Order now</a></li>
					</ul>
					</li>
					<li>
					<ul>
						<li class="plan_name aligncenter">TEAM</li>
						<li class="plan_price aligncenter"><strong>&#36; 450/</strong>month</li>
						<li class="aligncenter">2 years of service</li>
						<li class="aligncenter">Technical support</li>
						<li class="aligncenter">HTML works</li>
						<li class="aligncenter">Any additional info</li>
						<li class="aligncenter">100% uptime</li>
						<li class="aligncenter">Access anywhere online</li>
						<li class="aligncenter">Automatic backups</li>
						<li class="aligncenter">Timesheet Approval</li>
						<li class="aligncenter button_box"><a class="btn btn-red btn-lg" href="#">Order now</a></li>
					</ul>
					</li>
				</ul>
					</div>							
				</div>	
			</div>		
	</section>
	<!-- End pricing -->

	<!-- Start testimoni -->
	<section id="testimoni">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h3 class="heading text-center">Testimoni</h3>
						<ul class="ticker testimoni">
							<li>
								<a href="#"><img src="img/testimoni/avatar1.jpg" class="testimo-avatar" alt="" /></a>
								<p>
								Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam.
								</p>
								<p class="testimoni-info">Mat gantol - <a href="#">Garantol CEO</a></p>
							</li>
							<li>
								<a href="#"><img src="img/testimoni/avatar2.jpg" class="testimo-avatar" alt="" /></a>
								<p>
								Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam.
								</p>
								<p class="testimoni-info">Iyem pariem - <a href="#">DD designer</a></p>
							</li>
							<li>
								<a href="#"><img src="img/testimoni/avatar3.jpg" class="testimo-avatar" alt="" /></a>
								<p>
								Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam.
								</p>
								<p class="testimoni-info">Mas trisno - <a href="#">Trisno management</a></p>
							</li>
							<li>
								<a href="#"><img src="img/testimoni/avatar4.jpg" class="testimo-avatar" alt="" /></a>
								<p>
								Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam.
								</p>
								<p class="testimoni-info">Neng ebrod - <a href="#">Ebrod company</a></p>
							</li>								
						</ul>							
					</div>							
				</div>	
			</div>		
	</section>
	<!-- End testimoni -->

	<!-- Start action -->
	<section id="action">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 aligncenter">
					<h4>What are you waiting for get it now !</h4>
					<p>
					Erroribus corrumpit similique sed an. In hendrerit aliquando instructior mel paulo tritani. 
					</p>	
					<p><a href="http://themeforest.net/item/layapan-bootstrap-flat-and-responsive-landingpage/5457093" class="btn btn-lg btn-red">Buy it now only $11</a><p>
				</div>
			</div>
		</div>				
	</section>
	<!-- End action -->
	
	<!-- Start contact -->
	<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<h3 class="heading">Contact us</h3>
						<form id="contactform" action="contact/contact.php" method="post" class="validateform" name="leaveContact">
							<div id="sendmessage">
								<div class="alert alert-info marginbot35">
								  <button type="button" class="close" data-dismiss="alert">&times;</button>
								  <strong>Your message has been sent. Thank you!</strong><br />
								  Ut augue minim iuvaret eos, mei falli timeam ceteros ut. Qui et choro ubique denique, vim ei accumsan deseruisse argumentum.
								</div>							
							</div>								
							<ul class="listForm">
								<li>
									<label>Your name <span>&#40; Required &#41;</span></label>
									<input class="form-control" type="text" name="name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />									
									<div class="validation"></div>
								</li>
								<li>
									<label>Your email <span>&#40; Required &#41;</span></label>
									<input class="form-control" type="text" name="email" data-rule="email" data-msg="Please enter a valid email" />										
									<div class="validation"></div>
								</li>
								<li>
									<label>Your message <span>&#40; Required &#41;</span></label>
									<textarea class="form-control" rows="9" name="message" data-rule="required" data-msg="Please write something for us"></textarea>												
									<div class="validation"></div>
								</li>
								<li>
									<input type="submit" value="Send message" class="btn btn-red btn-lg btn-block" name="Submit" />
								</li>
							</ul>
						</form>
					</div>	
					<div class="col-lg-5">
						<div class="location">
							<div class="location-address">
								<h6>Office location</h6>
								<p>
									<strong>Address :</strong> <br />
									St.Kebanjiran no.3 block C2<br />
									Jakarta - Indonesia
								</p>
								<span class="location-arrow"></span>
							</div>
						</div>
					</div>											
				</div>	
			</div>		
	</section>
	<!-- End contact -->

	<!-- Start subscribe -->
	<section id="subscribe">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h5>Stay update with us</h5>
					<p>
					Nihil no ei eam esse nibh volumus. Falli verear cu qui, dicam tation omnesque ei nec.
					</p>
					<form>
						<fieldset class="subscribe-form">
							<input class="subscribe" type="text" placeholder="Enter your email address">
							<button class="subscribe-button" type="button"></button>
						</fieldset>	
					</form>	
					<a href="#" class="social-network"><i class="icon-facebook icon-rounded icon-128"></i></a>
					<a href="#" class="social-network"><i class="icon-twitter icon-rounded icon-128"></i></a>
					<a href="#" class="social-network"><i class="icon-google-plus icon-rounded icon-128"></i></a>
					<a href="#" class="social-network"><i class="icon-linkedin icon-rounded icon-128"></i></a>
				</div>
			</div>
		</div>		
	</section>
	<!-- End subscribe -->
	
	<!-- Start footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="copyright">2013 &copy; Copyright <a href="www.99webpage.com">nce18cex</a>. All rights Reserved.</span>
				</div>
			</div>
		</div>		
	</footer>
	<!-- End footer -->
	
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="js/jquery-2.1.0.min.js" type="text/javascript"></script>
	
	<!-- JavaScript easing plugins -->
	 <script src="js/jquery.easing.js" type="text/javascript"></script> 	
	<script src="../../app/lib/handlebars/handlebars.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<!-- JavaScript navigation -->	
	<script src="js/navigation/jquery.scrollTo-1.4.2-min.js"></script>
	<script src="js/navigation/jquery.smooth-scroll.js"></script>
	<script src="js/navigation/waypoints.min.js"></script>
	<script src="js/navigation/navbar.js"></script>
	<script src="js/jquery.parallax-1.1.3.js" type="text/javascript"></script> 
	<!-- JavaScript bgSlider slider -->
	<script src="js/bgslider/bgSlider.js"></script>			

	<!-- isotope -->
    <script src="js/filter/jquery.isotope.min.js"></script>
	<script src="js/filter/setting.js"></script>
	
	<!-- JavaScript cslider -->
	<script src="js/cslider/modernizr.custom.28468.js"></script>  	
	<script src="js/cslider/jquery.cslider.js"></script>	
	<script src="js/cslider/setting.js"></script>	

	<!-- prettyPhoto -->
	<script src="js/prettyPhoto/jquery.prettyPhoto.js"></script>
	<script src="js/prettyPhoto/setting.js"></script>

	<!-- JavaScript ticker -->
	<script src="js/ticker/ticker.js"></script>	
	<script src="js/ticker/setting.js"></script>
	
	<!-- JavaScript totop -->
	<script src="js/totop/jquery.ui.totop.js"></script>	
	<script src="js/totop/setting.js"></script>
	<script defer src="js/jquery.flexslider.js" type="text/javascript"></script>         
        <script src="js/jquery.accordion.source.js" type="text/javascript"></script>         
        <script src="js/owl.carousel.js" type="text/javascript"></script> 
	<!-- Contact validation js -->
    <script src="js/jquery.validate.min.js" type="text/javascript"></script>  

	<!-- Custom js -->
	<script src="js/waypoints.min.js" type="text/javascript"></script>         
        <script src="js/animations.js" type="text/javascript"></script>         
        <script src="js/custom.js" type="text/javascript"></script>     
        <script src="js/main.js" type="text/javascript"></script> 
        
        <!-- angular app -->
         <script src="../../app/lib/angular/angular.js"></script>
        <!--<script src="app/lib/angular/angular.js"></script>-->
        <!--<script src="app/lib/angular-xeditable/dist/js/xeditable.js"></script>-->
        <script src="../../app/custom/angular-xeditable/dist/js/xeditable.js"></script>
        <script src="js/bootstrap-colorpicker-module.min.js"></script>
        <script src='../../app/lib/textAngular/dist/textAngular-rangy.min.js'></script>
        <script src='../../app/lib/textAngular/dist/textAngular-sanitize.min.js'></script>
        <script src='../../app/lib/textAngular/dist/textAngular.min.js'></script>
        <script src="../../app/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
        <script src="../../app/lib/ng-file-upload/ng-file-upload.min.js"></script>
        <script src="../../app/app.js"></script>
        <script src="../../app/services.js"></script>
        <script src="../../app/controllers.js"></script>
        <!-- /angular app -->

        <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->         
        <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->         
        <!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->  
	
  </body>
</html>