
/*Template Name: Crossway - Startup Landing Page Template
Theme URL: http://themeforest.net/user/DSA79/
Description: Crossway - Startup Landing Page Template
Author: DSA79
Author URL: http://themeforest.net/user/DSA79
Version: 1.1.0
Website: www.dsathemes.com
Tags: responsive, html5 template, one page, landing, startup, business, company, corporate, creative
*/



/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */

/*   01 - General & Basic Styles   */
/*   02 - Header & Navigation      */
/*   03 - Intro      			   */
/*   04 - About        			   */
/*   05 - Features                 */
/*   06 - FAQs		               */
/*   07 - Clients                  */
/*   08 - Call to Action           */
/*   09 - Footer         		   */
/*   10 - Scroll to Top	   		   */
/*   11 - Contact Form Response    */
/*   12 - Updated new style    */
/*   13 - Patches                 */



/* ==========================================================================
   01. GENERAL & BASIC STYLES
   ========================================================================== */

/*------------------------------------------*/
/*	 Preload Animation 
/*------------------------------------------*/

div{
	overflow: hidden;
}

#preloader{
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:99999; 
	background-color:#fff;
}

#status{
	position:absolute;
	top:50%; 
	left:50%; 
	margin:-100px 0 0 -100px;
	width:200px;
	height:200px;
	background-image:url(../img/icons/loader.gif);
	background-position:center;
	background-repeat:no-repeat;
	background-size:75px 75px;
} 
   
#content-wrapper {
	/*margin-top: 65px;*/
	position: relative;
}  
 
/*------------------------------------------*/
/*	 Parallax Settings
/*------------------------------------------*/

.intro-parallax {
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

}

#intro { 
	background-image: url(../img/bg-top1.jpg); 
	width:100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
	padding-bottom: 50px;

}

.parallax {
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}

#features { 
	background-image: url(../img/service-bg.jpg);  
	width:100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
	background-position: 0 0!important;
}

#call-to-action { 
	background-image: url(../img/bottom-bg2.jpg); 
	width:100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
}

/*------------------------------------------*/
/*	 Headers
/*------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin-top: 0; 
	margin-bottom: 10px;
}

/*------------------------------------------*/
/*	 Link Setting
/*------------------------------------------*/

a {
	text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

a:hover {
	color: #444;
	text-decoration: none;
}

a:focus {
	color: #f8f8f8;
	outline: none;
	border: none;
	text-decoration: none;
} 

/*------------------------------------------*/
/*	 Lists
/*------------------------------------------*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*------------------------------------------*/
/*	 Section Titlebar
/*------------------------------------------*/

.titlebar {
	margin-bottom: 40px;
}

.titlebar h1 {
	color: #000;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 5px;
}

.titlebar p {
	color: #666;
	font-size: 18px;
	font-family: 'nexa', sans-serif;
	font-weight: 300;
}



/* ==========================================================================
   02. HEADER & NAVIGATION
   ========================================================================== */ 

/*------------------------------------------*/
/*	 Logo Image    
/*------------------------------------------*/

.navbar-brand {
	height: auto;
	padding: 15px 15px 10px;
	color: #00B0FF;
}   

.navbar-brand div {
	width: 268px;
	overflow: visible;
}

/*------------------------------------------*/
/*	 Navigation Menu    
/*------------------------------------------*/

.navbar {	
	/*background-color: #f0f0f0;
	border-bottom: 1px solid #ddd;*/
}

.navbar-nav > li  a {
	color: #333;	
    display: block;
/*	padding: 0 15px;*/
padding: 0 20px;
	font-size: 14px;
	font-family: 'nexa', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 65px;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
.navbar-nav > li > form > a {
	color: #00b0ff;	
    display: block;
/*	padding: 0 15px;*/
padding: 0 20px;
	font-size: 14px;
	font-family: 'nexa', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 65px;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
.navbar-nav > li > form > a:hover,
.navbar-nav > li > form >a.selected-nav {
	background: none;
	color: #00b0ff;
}

.navbar-nav > li  a:hover,
.navbar-nav > li  a.selected-nav {
	background: none;
	color: #00b0ff;
}

/*------------------------------------------*/
/*	 Responsive Menu    
/*------------------------------------------*/

.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
	margin: 12px 30px 12px 0;
    background-color: none;
	border: 2px solid #444;
}

.navbar-toggle .icon-bar {
	background-color: #444;
	height: 2px;
}



/* ==========================================================================
   03. INTRO
   ========================================================================== */
 
#intro {
	/*padding-top: 80px;
	padding-bottom: 80px;*/
	color: #fff;
	min-height: 100%;
	/*height: 100vh;*/
} 

/*------------------------------------------*/
/*	  Intro Section Description
/*------------------------------------------*/

/*#intro_description h1 {
	font-size: 40px;
	margin-bottom: 30px;
}

.intro_feature {
	margin-bottom: 20px;
}

.intro_feature h4 {
	font-weight: 600;
}

.intro_feature i {
	margin-right: 5px;
}

.intro_feature p {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	padding-left: 25px;
}*/

/*------------------------------------------*/
/*	  Intro Section Button
/*------------------------------------------*/

.intro_button {
	margin-top: 60px;
}

/*------------------------------------------*/
/*	  Register Form
/*------------------------------------------*/

#intro_form {
	padding-left: 20px;
	padding-bottom: 20px;
}

.form_register {
	width: 100%;
	background: rgba(155, 120, 100, 0.45);
	margin: 0 auto;
    padding: 15px 10px 20px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form_register h2 {
	color: #fff;
    text-align: center;
    line-height: 30px;
	font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*------------------------------------------*/
/*	  Register Form Input
/*------------------------------------------*/

.form_register .form-control {
	height: 46px;
	margin-bottom: 20px;
	border: 5px solid #ddd;
	-webkit-border-radius: -25px;
    -moz-border-radius: 0;
    border-radius: 0;
}

input[type="text"],
input[type="email"],
textarea {
	color: #444;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.form_register textarea {
	min-height:140px;
}

/*------------------------------------------*/
/*	   Register Form Error Message 
/*------------------------------------------*/

.error {
	color: #fc0000;
	font-size: 13px;
	margin-bottom: 20px;
}


 
/* ==========================================================================
   04. ABOUT
   ========================================================================== */
  
#about-1 {
	/*padding-top: 60px;*/
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;
}

#about-2 {
	padding-top: 70px;
	padding-bottom: 80px;
}

#about-1 .titlebar {
	margin-bottom: 30px;
}

#about-1 h4, #about-2 h4  {
	font-weight: 600;
	margin-bottom: 15px;	
}

/*------------------------------------------*/
/*	  About-1 Text
/*------------------------------------------*/

#about-1-text {
	padding-right: 35px;
}

/*------------------------------------------*/
/*	  Accordion
/*------------------------------------------*/

#accordion_holder {
	margin-top: 40px;
}

.accordion {
	margin-bottom: 40px;
}

#text_1,
#text_2,
#text_3,
#text_4 { 
	width: 100%;
	display: block; 
	float: left; 
	padding: 0; 
	margin: 3px 0; 	
	cursor: pointer; 	
}

.accordion .firstchild { 
	width: 100%;
	float: left; 
	margin: 3px 0; 	
	color: #fff !important; 
	font-size: 16px;
	font-family: 'nexa', sans-serif;
	font-weight: 500;
	line-height: 26px;
	padding: 10px 40px 10px 15px;
	text-decoration: none; 
	display: block; 
	cursor: pointer; 
	background: #3bc0fb url(../img/icons/open.png) no-repeat center right;
}

.accordion li.active> label { 
	background: rgba(170, 170, 170, 0.15) url(../img/icons/close.png) no-repeat center right;  
	color: #151515;
	box-shadow: none;
}

.accordion .firstchild a {
	color: #fff;
}
.accordion li.active > label>form> a {
	color: #626262;
}
.accordion li .innersection a{color: #626262; }

.accordion li.active> label > div> a { 
	color: #151515;
}

/*------------------------------------------*/
/*	  Accordion Answer
/*------------------------------------------*/

.accordion li .innersection { 
	background: rgba(170, 170, 170, .2);
	line-height: 22px;
	padding: 10px 10px; 
	margin-bottom: 5px;
	display: block; 
	clear: both; 
}

/*------------------------------------------*/
/*	 Video Holder
/*------------------------------------------*/

#video_holder p {
	margin-bottom: 30px;
}

/*------------------------------------------*/
/*	  Video Content Settings
/*------------------------------------------*/ 

.video-block {
	position: relative;
	padding-bottom: 54.25%;
	padding-top: 20px;
	margin-top: 20px;
	height: 0;
	overflow: hidden;
}

.video-block iframe,
.video-block object,
.video-block embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:0;
}

/*------------------------------------------*/
/*	 About-2 Text
/*------------------------------------------*/

#about-2-text {
	padding-left: 60px;
}

/*------------------------------------------*/
/*	  Quote
/*------------------------------------------*/

#quote_holder {
	margin-top: 40px;
}

.quote-text {
	background: rgba(170, 170, 170, 0.15);
    border-left: none;
    color: rgba(85, 94, 106, 0.8);
    font-style: italic;
    line-height: 25px;
    margin: 0 0 30px 0;
    padding: 26px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 rgba(182, 196, 209, 0.3);
    -moz-box-shadow: 0 3px 0 rgba(182, 196, 209, 0.3);
    box-shadow: 0 3px 0 rgba(182, 196, 209, 0.3);
}

.quote-text:before {
    border: 14px solid transparent;
    z-index: 3;
    border-top-color: #f2f2f2;
    top: auto;
    right: auto;
    bottom: -28px;
    left: 30px;
}

.quote-text:after {
    border: solid 14px transparent;
    z-index: 2;
    border-width: 18px;
    border-top-color: rgba(182, 196, 209, 0.3);
    top: auto;
    right: auto;
    bottom: -36px;
    left: 26px;
}

.quote-text:before,
.quote-text:after,
.quote-text-up:before,
.quote-text-up:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
}

.quote-text a {
    color: #8c989e;
	font-family: 'nexa', sans-serif;
	font-weight: 300;
}

.quote-text a:hover {
    text-decoration: none;
}

.flexslider .slides img { 
	float: left;
    margin-right: 15px;
    margin-left: 6px;
    width: 75px;
	box-shadow: 0 0 5px rgba(140, 140, 140, 0.8);
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    border-radius: 1000px;
}

.quote-author {
    display: inline-block;
    font-size: 13px !important;
    line-height: 65px !important;
} 
 


/* ==========================================================================
   05. FEATURES
   ========================================================================== */
 
#features {
	padding-top: 60px;
	padding-bottom: 30px;
}

/*------------------------------------------*/
/*	  Feature Box
/*------------------------------------------*/

.feature-box {
	margin-bottom: 50px;
	padding-left: 5px;
	padding-right: 5px;
}

/*------------------------------------------*/
/*	  Feature Box Icon
/*------------------------------------------*/

.feature-box-icon {
    background-color: #666;
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 10px;
    border-radius: 30px;
    color: #FFF;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
}

/*------------------------------------------*/
/*	  Feature Box Content
/*------------------------------------------*/

.feature-box-content {
	padding-left: 70px;
}

.feature-box-content h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}


 
/* ==========================================================================
   06. FAQs
   ========================================================================== */
 
#faq {
	padding-top: 60px;
	padding-bottom: 50px;
	background: #ebf2f9;
}

#faq .titlebar {
	text-align: center;
}

#faq .titlebar h1 {
	color: #333;
	
}

#faq .titlebar p {
	font-family: 'nexa-light', sans-serif;
	color: #626262;
	  margin-bottom: 20px;
}

.question h4 {
	color: #333;
}

/*------------------------------------------*/
/*	  FAQs Titlebar
/*------------------------------------------*/

#faq .titlebar {
	margin-bottom: 30px;
}

/*------------------------------------------*/
/*	  FAQs Question
/*------------------------------------------*/

.question {
	margin-bottom: 20px;
	padding-right: 97px;
	
}


.question p {
	color: #626262;
	font-family: 'nexa-light', sans-serif;
}


 
/* ==========================================================================
   07. CLIENTS
   ========================================================================== */

 
#clients {
	padding-top: 60px;
	padding-bottom: 80px;
	border-top: 1px solid #ddd;
}	

#clients-titlebar {
	position: relative;
}	

/*------------------------------------------*/
/*	 Clients Carousel Navigation
/*------------------------------------------*/

.customNavigation {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 10px;
}

.customNavigation .btn {
	padding: 4px 10px;
}

.customNavigation i {
	font-size: 20px;
	color: #fff;
}
  


/* ==========================================================================
   08. CALL TO ACTION
   ========================================================================== */

#call-to-action {
	padding-top: 100px;
	padding-bottom: 100px;
}

#call-to-action h1 {
	color: #fff;
	font-size: 36px;
	padding: 10px;
	margin-bottom: 15px;
	background: rgba(59,193,253,.27);
}

#call-to-action p {
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: 0 10%;
	margin-bottom: 30px;
}

#call-to-action .register-form {
	position: relative;
	border: none;
	width: 62%;
	margin: 0 auto;
}

#call-to-action .more-info {
	margin-top: -187px;
}

   
/* ==========================================================================
   09. FOOTER
   ========================================================================== */
 
#footer {
	background-color: #1281b2;
	padding: 60px 0 40px;
    display: none !important;
}   
  
/*------------------------------------------*/
/*	 Footer Navigation Menu
/*------------------------------------------*/  

.footer-nav li {
	float: left;
	padding: 5px 10px 10px;
}

.footer-nav li a {
	color: #fff;
	font-size: 15px;
	font-family: 'nexa-light', sans-serif;
}

.footer-nav li a:hover {
	color: #ff8a00;
}

/*------------------------------------------*/
/*	 Footer Copy 
/*------------------------------------------*/  

#footer_copy p {

	font-size: 13px;
	font-family: 'nexa-light', sans-serif;
	margin-left: 10px;
	color: #333;
}

#footer_copy p span {
	color: #333;
}

/*------------------------------------------*/
/*	 Footer Social Icons  
/*------------------------------------------*/

#footer_icons {
	margin:3px 0;
}

.footer-socials {
	display: none !important; 
}

.footer-socials li {
	float: left;
	width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
	line-height: 70px;
}

.foo_social {
    width: 40px;
    height: 40px;
	text-align: center;
	color: #1A1E23;
	font-size: 20px;
    line-height: 40px;
	margin: 0 5px;
	background-color: #fff;
	-webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    border-radius: 15%;
    display: block;
    text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

/*------------------------------------------*/
/*	 Footer Icons Hover 
/*------------------------------------------*/

.ico-facebook:hover {background-color: #3b5998;color: #f8f8f8;}
.ico-twitter:hover {background-color: #00a9ed;color: #f8f8f8;}
.ico-google-plus:hover {background-color: #cd1111;color: #f8f8f8;}
.ico-linkedin:hover {background-color: #015886;color: #f8f8f8;}
.ico-dribbble:hover {background-color: #d92d84;color: #f8f8f8;}
.ico-instagram:hover {background-color: #beb3a8;color: #f8f8f8;}
.ico-pinterest:hover {background-color: #ac281a;color: #f8f8f8;}
.ico-dropbox:hover {background-color: #008ad2;color: #f8f8f8;}
.ico-skype:hover {background-color: #00a9ed;color: #f8f8f8;}
.ico-youtube:hover {background-color: #cd1b20;color: #f8f8f8;}
.ico-tumblr:hover {background-color: #3a5976;color: #f8f8f8;}
.ico-vimeo:hover {background-color: #00adee;color: #f8f8f8;}
.ico-flickr:hover {background-color: #d2d2d2;color: #f8f8f8;}
.ico-github:hover {background-color: #222;color: #f8f8f8;}
.ico-renren:hover {background-color: #364a83;color: #f8f8f8;}
.ico-vk:hover {background-color: #3b5998;color: #f8f8f8;}
.ico-xing:hover {background-color: #015f5e;color: #f8f8f8;}
.ico-weibo:hover {background-color: #be4443;color: #f8f8f8;}
.ico-rss:hover {background-color: #ff6600;color: #f8f8f8;}

/*------------------------------------------*/
/*	 Footer Newsletter Form
/*------------------------------------------*/

#newsletter-paragraph {
	color: #333;
}

.subscribe-form {
	margin: 5px auto 0;
    position: relative;
    z-index: 10;
	width: 100%;
}

#newsletter_form p {
	color: #333;
	font-size: 13px;
	line-height: 16px;
	font-family: 'nexa-light', sans-serif;
	text-align: center;
	margin-top: 10px;
}

#newsletter_form p span,
#newsletter-paragraph span {
	color: #fff;
}

.subscribe-input {
	width: 65%;
    height: 30px;
	background-color: rgba(0,0,0,.17);
	color: #ccc;
	font-size: 14px;
    font-weight: 300;
	padding-left: 10px;
	border: none;
}

.subscribe-submit {
	width: 32%;
	height: 30px;
	background: #fff;
    color: #00b0ff;
	font-size: 12px;
	font-family: 'nexa', sans-serif;
	
	text-decoration:none;
	text-transform: uppercase;
	text-align:center;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    border:none;
    cursor: pointer;
    outline: 0;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.subscribe-submit:active {
    outline: 0;
}

.subscribe-submit:hover {
	background: #ff8a00;
	color: #fff;
}


 
/* ==========================================================================
   10. SCROLL TO TOP
   ========================================================================== */

#scrollUp {
	display: none;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-image: url(../img/icons/back-to-top.png);
	background-repeat: no-repeat;
	background-position: 50% 48%;
	background-color:rgba(123, 123, 123, 0.65);	
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	transition: all 250ms linear;	
}

#scrollUp:hover {
	background-color: rgba(66, 139, 202, 0.95);
}

nav a#pull {  
    display: none;  
} 



/* ==========================================================================
   11. CONTACT FORM RESPONSE PAGE   
   ========================================================================== */
   
#form_response {
	margin: 50px auto; 
}

#form_response .img-responsive { display: inline-block; }

#form_response h1 {
	font-size: 40px; 
	font-weight: 700;
	margin-top: 10px;
}

#form_response p {
	font-size: 18px; 
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin-bottom: 20px;
}



/* ==========================================================================
   12. UPDATED NEW STYLES   
   ========================================================================== */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'nexa-bold';
    src: url('../fonts/nexa_bold-webfont.eot');
    src: url('../fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('../fonts/nexa_bold-webfont.woff') format('woff'),
         url('../fonts/nexa_bold-webfont.ttf') format('truetype'),
         url('../fonts/nexa_bold-webfont.svg#nexa-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa-light';
    src: url('../fonts/nexa_light-webfont.eot');
    src: url('../fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_light-webfont.woff2') format('woff2'),
         url('../fonts/nexa_light-webfont.woff') format('woff'),
         url('../fonts/nexa_light-webfont.ttf') format('truetype'),
         url('../fonts/nexa_light-webfont.svg#nexa-light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa';
    src: url('../fonts/nexa_regular-webfont.eot');
    src: url('../fonts/nexa_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_regular-webfont.woff2') format('woff2'),
         url('../fonts/nexa_regular-webfont.woff') format('woff'),
         url('../fonts/nexa_regular-webfont.ttf') format('truetype'),
         url('../fonts/nexa_regular-webfont.svg#nexa') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.42857143;
  color: #626262;
  
}

p {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;

}

p strong {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;

}

a {
  color: #00b0ff;
}

a:hover,
a:focus {
  color: #6ed3cf;
}

a:focus {
  outline: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
.btn,
.btn-default,
.btn-rounded {
  -webkit-transition-property: color, background;
 -webkit-transition-duration: .1s, .1s;
 -webkit-transition-timing-function: linear, ease-in;
 -moz-transition-property: color, background;
 -moz-transition-duration: .1s, .1s;
 -moz-transition-timing-function: linear, ease-in;
 transition-property: color, background;
 transition-duration: .1s, .1s;
 transition-timing-function: linear, ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "nexa-bold", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.1;
  color: inherit;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
.h1 span,
.h2 span,
.h3 span,
.h4 span,
.h5 span,
.h6 span {
  font-family: "nexa-light", Helvetica Neue, Helvetica, Arial, sans-serif;

}

/* Header -------------------- */
#header { display: none !important}
.main-header,
.main-header .navbar {
    border-bottom: medium none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.fix-header,
.fix-header .navbar-fixed-top {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	border-bottom: none;
}

.navbar-nav > li  a {
	border-bottom: none;
	color: #a09f9e;
}

.navbar-nav > li  a:hover, 
.navbar-nav > li  a.selected-nav {
	color: #00b0ff;
}

.navbar-nav > li  a:hover,
.fix-header .navbar-nav > li  a.selected-nav {
	position: relative;
}

.main-header .navbar-nav > li  a:hover {
	background: rgba(46,46,46,.8);
}

.fix-header .navbar-nav > li  a.selected-nav {
	background: #f3f3f3;
	
}

.fix-header .navbar-nav > li  a.selected-nav:before,
.main-header .navbar-nav > li  a.selected-nav:before {
	content:'';
	background: #00b0ff;
	height: 2px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.fix-header .navbar-nav > li  .btn-rounded,
.main-header .navbar-nav > li  .btn-rounded {
	line-height: 36px;
	margin: 13px 0;
	border-bottom: 1px solid #00b0ff;
	
	
}

.fix-header .navbar-nav > li  .btn-rounded:hover,
.main-header .navbar-nav > li  .btn-rounded:hover {
	background: #00b0ff;
	color: #fff;
}

.main-logo a,
.main-logo a:hover {
	border: none;
	outline: none;
}

.main-logo img {
	float: left;
	margin-right: 10px;
}

.main-logo h1 {
	font-size: 2.4rem;
	display: inline-block;
	  letter-spacing: 1.5px;
  line-height: 34px;
}
.main-logo .ng-valid  h1 {
	font-size: 2.4rem;
	display: inline-block;
	letter-spacing: 1.5px;
  line-height: 34px;
  color: inherit;
    font-family: "nexa-bold",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: 10px;
    margin-top: 0;
}

.main-logo form {
	width:268px;
}



/* hero section -------------------- */
.hero-section {
	padding-top: 110px;
}

.hero-title h1 {
	font-size: 48px;
	display: inline-block;
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(255,255,255,.4);
	margin-bottom: 35px;
	
}

.hero-points {
	font-family: "nexa-light", sans-serif;
	font-size: 18px;
}

.hero-points li {
	position: relative;
	
  margin: 28px 0;
}

.hero-points li:before {
	content:"";
	background: url('../img/sets.png') no-repeat -29px -22px;
	width: 28px;
	height: 28px;
	display: inline-block;
	float: left;
  margin-right: 10px;
  vertical-align: middle;
	
}

.hero-points p {
	margin-bottom: 0;
	display: inline-block;
}

.hero-section .btn.btn-primary {
	  background-color: #ff8a00;
  border-color: #ff8a00;
  color: #fff;
  font-size: 24px;
  border-radius: 30px;
  padding: 10px 55px;
  margin-top: 55px;
  font-family: "nexa-bold", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
}


.hero-section .btn.btn-primary:hover {
	background-color: #00b0ff;
  border-color: #1281b2;
}

.hero-title {
	/*margin-top: 35px;*/
}



/* form -------------------- */
.register-form {
	background: transparent;
	padding: 20px;
	border: 2px solid rgba(255,255,255,.5);
	display: block;
}

.user-register {
	background: rgba(255,255,255,.8);
	padding: 20px;
	font-family: "nexa", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.user-register input[type="text"], 
.user-register input[type="email"], 
.user-register textarea {
	background: transparent;
	border-top: none;
	border-bottom: 1px solid #9e9e9e;
	border-left: none;
	border-right: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	
}

.user-register input[type="text"]:focus, 
.user-register input[type="email"]:focus {
	border-bottom: 1px solid #00b0ff;
	color: #333;
}

.form-group.upload input[type="file"] {
	position: relative;
	  float: right;
	  width: 34%;
	  margin: 2px 0;
}

/*.form-group.upload input[type="file"]:after {
	content:'';
	background: #fff url('../img/sets.png') no-repeat -83px -23px;
	width: 46px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
}
*/
.form-group.upload .help-block {
	float: left;
	margin-bottom: 0;
}

.user-register h3 {
	color: #333;
	text-align: center;
	margin-bottom: 55px;
}

.user-register .btn.btn-default {
	border-radius: 3px;
	background: #00b0ff;
	color: #fff;
	text-align: center;
	display: block;
	margin: 55px auto 0;
	text-transform: capitalize;
	letter-spacing: .5px;
	padding: 10px 30px;
	
}



/*.form-all {
	width: 100%!important;
}*/



/* service section ----------- */
.titlebar h1 {
	color: #00b0ff;
	display: inline-block;
	padding-bottom: 10px;
	
}

.titlebar p {
	font-size: 18px;
	color: #fff;
	font-family: "nexa-light", Helvetica Neue, Helvetica, Arial, sans-serif;
	margin-bottom: 140px;
	
}

.titlebar h1:after {
	content: '';
  background: #00b0ff;
  height: 2px;
  width: 40%;
  bottom: 0;
  left: 0;
  display: block;
  margin: 15px auto 0;
}


.feature-box-icon {
	background: transparent;
	border: 2px solid #00b0ff;
	position: initial;
	margin: 0 auto 15px;
}

.feature-box-icon i {
	color: #00b0ff;
}

.feature-box.custom {
	padding: 0;
	text-align: center;
		margin-bottom: 110px;
}

.feature-box.custom .feature-box-content {
	padding-left: 0;
	color: #cfcfcf;
}

.feature-box.custom .feature-box-content h4 {
	color: #fff;
}


.our-benefit {
	position: relative;
	background-image: url('../img/why-bg.jpg');
	width: 100%;
	min-height: 100%;
	background-position: 0 0 !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: auto;
	width: 100%;
}

.our-benefit .titlebar {
	margin-bottom: 0;
	margin-top: 130px;
}

.our-benefit .titlebar p {
	margin-bottom: 0;
	color: inherit;
	font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: inherit;
}

.our-benefit .titlebar h1:after {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
}

.our-benefit .titlebar h1 {
	font-size: 24px;
	color: #333;
}

#about-1 {
	padding-bottom: 0;
}

.about-us .btn.btn-primary {
	background: #00b0ff;
	color: #fff;
	border-radius: 3px;
	margin: 30px auto 170px;
	border: 1px solid #00b0ff;
}


.about-us .btn.btn-primary:hover {
	background: #ff8a00;
	border: 1px solid #ff8a00;
}

#features {
	padding-bottom: 0;
	padding-top: 0;
}

#features .titlebar {
	padding-top: 90px;
}

#different {
    display:none;
}

.our-different {
	padding: 90px 0 0;
}

.our-different .icon-badge {
	margin: 0 auto 35px;
}

.our-different h4 {
	font-size: 24px;
	text-align: center;
	
	color: #333;
}

.our-different .accordion {
	margin-top: 35px;
}

.about-us h4 {
	  margin-top: 20px;
}

#about-1 {
	border-bottom: none;
}

.accordion li.active>a {
  background: rgba(255,255,255,1) url(../img/icons/close.png) no-repeat center right;
  color: #151515;
  box-shadow: none;
  border-top: 1px solid #fea53c;
}

/* Helper -------------------- */

.btn {
	font-family: "nexa", Helvetica Neue, Helvetica, Arial, sans-serif;
}
.btn a {
	color:#fff;
}

.btn-rounded {

	border: 1px solid #00b0ff;
	color: #00b0ff;
  padding: 0 24px;
  border-radius: 45px;
  background: transparent;
}

.btn-rounded:hover {
	background: #00b0ff;
	color: #fff;
	border: 1px solid #1281b2;
}




/* icons -------------------- */
.icon-check {
	background: url('../img/sets.png') no-repeat -29px -22px;
	width: 28px;
	height: 28px;
}

.icon-badge {
	background: url('../img/sets.png') no-repeat -25px -189px;
	width: 123px;
	height: 136px;
	display: block;
}

.faq-icon {
	background: url('../img/sets.png') no-repeat -225px -17px;
	width: 56px;
	height: 56px;
	display: inline-block;
	float: left;
	margin-right: 15px;
}

/* New admin menu */
.admin-menu {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 5px;
	z-index: 9999;
	width: 320px;
	padding: 0 30px 30px 30px;
}

.admin-menu .form-group {
	margin-top: 30px;
}

.admin-menu button {
	margin-top: 5px;
}

.show-admin-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
}

/* set color button for x-editable */
.editable-buttons button {
	color: #626262;
}

.navbar .bgcolor-edit {
	position: absolute;
	top: 31px;
}

#call-to-action .editable-wrap p {
	color: #555;
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
    white-space: pre-wrap;
}

/* ==========================================================================
   13 PATCHES
   ========================================================================== */

/*------------------------------------------*/
/*	 Responsive 
/*------------------------------------------*/

.feature-box.custom {
    height: 220px;
    overflow: visible;
}

.feature-box-content {
    
    word-wrap: break-word;
}

@media only screen and (max-width: 767px){
    .our-benefit {
        background-size: cover !important;
        background-position: 50% 0 !important;
    }
    
}

