<!DOCTYPE html> 
<!-- Crossway - Startup Landing Page Template design by DSA79 (http://www.dsathemes.com) --> 
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]--> 
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]--> 
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> 
<html lang="en" ng-controller="MainController as mc"> 
    <!--<![endif]-->     
    <head>
        <!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.contentWindow.min.js"></script-->
        
        
        <!-- Basic  -->         
        <meta charset="utf-8"> 
        <title>{{mc.items.title}}</title>
        <base href="/servicejoin.com/templates/marketing-template/" />
        <meta name="author" content="DSA79"> 
        <meta name="keywords" content="responsive, html5 template, one page, landing, startup, business, company, corporate, creative"> 
        <meta name="description" content="Crossway - Startup Landing Page Template"> 
        <!-- Mobile Specific Metas -->         
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
        <!-- Libs CSS -->         
        
        <!--<link rel="stylesheet" ng-href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/{{ css }}/bootstrap.min.css">-->
        <!--<link rel="stylesheet" ng-href="layout-{{ layout }}.css">-->
        
        <link href="css/bootstrap.css" rel="stylesheet"> 
        <!--<link href="css/font-awesome.min.css" rel="stylesheet">--> 
        <link href="css/flexslider.css" rel="stylesheet"> 
        <link href="css/owl.carousel.css" rel="stylesheet"> 
        <!-- On Scroll Animations -->         
        <link href="css/animate.css" rel="stylesheet"> 
        <!-- Template CSS -->         
        <link href="css/style.css" rel="stylesheet"> 
        <!-- Responsive CSS -->         
        <link href="css/responsive.css" rel="stylesheet">

        <link href="css/colorpicker.min.css" rel="stylesheet">
        

        <link href="css/app.css" rel="stylesheet"> 
        <!-- Favicons -->         
        <link rel="shortcut icon" href="img/icons/favicon.ico">
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
        <!-- Google Fonts -->         
        <!--<link href='http://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'> -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

        
        <!--<link rel="stylesheet" href="app/lib/angular-xeditable/dist/css/xeditable.css">-->
        <link rel="stylesheet" href="../../app/custom/angular-xeditable/dist/css/xeditable.css">
        <link rel='stylesheet' href='../../app/lib/textAngular/dist/textAngular.css'>
    </head>     
    <body class="" tpl-ver="recruiting-template">
        <!-- PRELOADER
		============================================= -->         
        <div id="preloader"> 
            <div id="status"></div>             
        </div>         
        <!-- HEADER
		============================================= -->
		<button id="test" class="show-admin-menu btn btn-sm btn-default" ng-click="show=true" ng-show="!show && authenticated">+ Show Admin Menu</button>
		<form class="admin-menu" role="search" ng-show="show && authenticated">
            <div class="form-group">
              <input type="text" class="form-control" name="page" placeholder="Create Page" ng-model="mc.new_page">
              <button type="submit" class="btn btn-default" ng-click="mc.createPage()">Create New Page</button>
            </div>
            
            <div class="form-group">
              <input ng-change="mc.saveTitle()" type="text" class="form-control" name="title" placeholder="Title" ng-model="mc.items.title">
            </div>
            
            <!--div class="form-group">
                <label>Theme</label>
                <select class="form-control" ng-model="mc.css" ng-options="cssFolder.url as cssFolder.name for cssFolder in mc.cssFolders">
                </select>
            </div-->
    
            <!--div class="form-group">
                <h4><b>Menu Type:</b></h4>
                <input type="radio" name="menuType" value="page" id="menuType-Page">
                <label for="menuType-Page">Page</label>
                <br>
                <input type="radio" name="menuType" value="site" id="menuType-Site">
                <label for="menuType-Site">Site</label>
            </div-->
            <button class="hide-admin-menu btn btn-sm btn-default" ng-click="show=false">- Hide</button>
        </form>
        <header id="header" class="main-header"> 
            <div class="navbar navbar-fixed-top" editable-bg modelname="headerBgColor" defaultvalue="#fff"> 
                <div class="container">
                      <!-- Logo & Responsive Menu -->                     
                    <div class="navbar-header"> 
                        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-menu"> 
                            <span class="sr-only">Toggle navigation</span> 
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span> 
                        </button>                         
                        <div class="navbar-brand main-logo clearfix">
                            <a href="#top-page-banner"><img src="img/brand-logo.png" alt="logo" role="banner"></a><div editable-field tagname="h1" id="servicejoin" class="nav-item" modelname="servicejoin" hrefname="servicejoinHref" color="servicejoinColor"></div>
                        </div>  
                        
                    </div>                     
                    <!-- /.navbar-header -->
                    
                    <!-- Navigation -->                     
                    <nav id="navigation-menu" class="navigation-menu collapse navbar-collapse" role="navigation"> 
                        <ul class="nav navbar-nav navbar-right"> 
                            <li>
                                <div editable-field id="header1" tagname="a" modelname="header1" hrefname="header1Href" color="header1Color" class="nav-item"></div>
                                <!--a id="GoToHome" class="selected-nav" href="#intro">Home</a-->
                            </li>                             
                            <li>
                                <div editable-field id="header2" tagname="a" modelname="header2" hrefname="header2Href" color="header2Color" class="nav-item"></div>
                                <!--a id="GoToAbout" href="#about-1">About</a-->
                            </li>                             
                            <li>
                                <div editable-field id="header3" tagname="a" modelname="header3" hrefname="header3Href" color="header3Color" class="nav-item"></div>
                                <!--a id="GoToFeatures" href="#features">Features</a-->
                            </li>                             
                            <li>
                                <div editable-field id="header4" tagname="a" modelname="header4" hrefname="header4Href" color="header4Color" class="nav-item"></div>
                                <!--a id="GoToFaq" href="#faq">FAQ</a-->
                            </li>                             
                            <li>
                                <div editable-field id="header5" tagname="a" modelname="header5" hrefname="header5Href" color="header5Color" class="nav-item"></div>
                                <!--a id="GoToClients" href="#clients">Clients</a-->
                            </li>   
                             <li>
                                <div editable-field id="signup-button" tagname="a" modelname="signupButton" hrefname="signupButtonHref" color="signupButtonColor" classname="btn btn-rounded" class="nav-item"></div>
                                <!--a href="#0" class="btn btn-rounded">Sign Up</a-->
                            </li>
                        </ul>
                    </nav>                     
                    <!-- /.navbar-collapse --> 
                    
                </div><!-- /.container --> 

            </div><!-- /.navbar -->                
                     
        </header>         
        <!-- END HEADER -->         
        <!-- CONTENT WRAPPER
		============================================= -->  

        <div id="content-wrapper" > 
            <!-- INTRO
			============================================= -->  
		
			<div class="row">
            <section id="intro" class="intro-parallax col-md-12 col-sm-12 col-xs-12 col-lg-12" bg-image="bg-top1.jpg" editable-image> 
                <div class="container"> 
                    <div class="hero-section">
                        <div class="row"> 
                            <!-- Intro Section Description -->                         
                            <div id="intro_description" class="col-xs-12 col-sm-12 col-md-8"> 
                                <div id="hero-title" class="hero-title">
                                    <!--h1 editable-text="mc.items.heroTitle">{{mc.items.heroTitle}}</h1-->
                                    <div editable-field tagname="h1" modelname="heroTitle" hrefname="heroTitleHref" color="heroTitleColor" class="heroTitle"></div>
                                </div>
                                <ul id="hero-point-container" class="list-unstyled hero-points clearfix">
                                    <li>
                                        <!--<p editable-text='mc.items.heroPoint1' onbeforesave='mc.updateItem($data, "heroPoint1")'>{{mc.items.heroPoint1}}</p>-->
                                    <!--</li>-->
                                    <!-- <li>-->
                                    <!--    <p editable-text='mc.items.heroPoint2' onbeforesave='mc.updateItem($data, "heroPoint2")'>{{mc.items.heroPoint2}}</p>-->
                                    <!--</li>-->
                                    <!-- <li>-->
                                    <!--    <p editable-text='mc.items.heroPoint3' onbeforesave='mc.updateItem($data, "heroPoint3")'>{{mc.items.heroPoint3}}</p>-->
                                        <!--p editable-text="mc.items.heroPoint1" >{{mc.items.heroPoint1}}</p-->
                                        <div editable-field tagname="span" modelname="heroPoint1" hrefname="heroPoint1Href" color="heroPoint1Color" class="heroPoint"></div>
                                    </li>
                                     <li>
                                         <div editable-field tagname="span" modelname="heroPoint2" hrefname="heroPoint2Href" color="heroPoint2Color" class="heroPoint"></div>
                                        <!--p editable-text="mc.items.heroPoint2">{{mc.items.heroPoint2}}</p-->
                                    </li>
                                     <li>
                                        <div editable-field tagname="span" modelname="heroPoint3" hrefname="heroPoint3Href" color="heroPoint3Color" class="heroPoint"></div>
                                        <!--p editable-text="mc.items.heroPoint3">{{mc.items.heroPoint3}}</p-->
                                    </li>
                                </ul>
                                
                                <!--<a href="" class="btn btn-primary btn-lg">join now free</a>-->
                                                   
                               
                            </div>                         
                            <!-- End Intro Section Description -->
                        </div>                     
                        <!-- End row -->
                    </div>
                </div>                 
                <!-- End container -->                 
            </section>             
            <!-- END INTRO --> 
            </div>                   
            <!-- ABOUT-1
			============================================= -->    


         
                <section id="features" class="parallax col-md-12 col-sm-12 col-xs-12 col-lg-12" bg-image="service-bg.jpg" editable-image>
                    <div class="container"> 
                        <!-- Section Title -->                         
                        <div class="row" if="feature-title"> 
                            <div class="col-md-8 col-md-offset-2 titlebar text-center">
                                <div editable-field hrefname="serviceJoinFeatureTitleHref" tagname="h1" modelname="serviceJoinFeatureTitle" color="serviceJoinFeatureTitleColor" class="serviceJoinFeatureTitle"></div>
                                <!--h1 editable-text="mc.items.serviceJoinFeatureTitle">{{mc.items.serviceJoinFeatureTitle}}</h1> 
                                
                                <p ng-show="!mc.showStat['serviceJoinFeatureDescription']" ng-click="mc.showStat['serviceJoinFeatureDescription'] = !mc.showStat['serviceJoinFeatureDescription']">{{mc.items.serviceJoinFeatureDescription}}</p> 
                                <input  ng-show="mc.showStat['serviceJoinFeatureDescription']" type="text" name="serviceJoinFeatureDescription" value="{{mc.items.serviceJoinFeatureDescription}}" ng-model = "mc.items.serviceJoinFeatureDescription" />
                                <button ng-show="mc.showStat['serviceJoinFeatureDescription']" ng-click="mc.updateData('serviceJoinFeatureDescription')">Save</button-->
                            </div>                             
                        </div>                             
                        <!-- Features Holder -->                         
                        <div class="row" id="feature-content"> 
                            <div class="col-md-2 col-sm-4 col-xs-6" id="feature-box-1">
                                <div class="feature-box custom clearfix"> 
                                            <div class="feature-box-icon"> 
                                                <i class="fa fa-mixcloud"></i> 
                                            </div>                                             
                                            <div class="feature-box-content">
                                                <div editable-field hrefname="featureBoxTitle1Href" tagname="h4" modelname="featureBoxTitle1" color="featureBoxTitle1Color" class="featureBoxTitle"></div>
                                                <div editable-field hrefname="featureBoxContent1Href" tagname="p" modelname="featureBoxContent1"></div>
                                                <!--h4 ng-show="!mc.showStat['featureBoxTitle1']" ng-click="mc.showStat['featureBoxTitle1'] = !mc.showStat['featureBoxTitle1']">{{mc.items.featureBoxTitle1}}</h4> 
                                                <input  ng-show="mc.showStat['featureBoxTitle1']" type="text" name="featureBoxTitle1" value="{{mc.items.featureBoxTitle1}}" ng-model = "mc.items.featureBoxTitle1" />
                                                <button ng-show="mc.showStat['featureBoxTitle1']" ng-click="mc.updateData('featureBoxTitle1')">Save</button-->
                                                
                                                <!--p ng-show="!mc.showStat['featureBoxContent1']" ng-click="mc.showStat['featureBoxContent1'] = !mc.showStat['featureBoxContent1']">{{mc.items.featureBoxContent1}}</p> 
                                                <input ng-show="mc.showStat['featureBoxContent1']"  type="text" name="featureBoxContent1" value="{{mc.items.featureBoxContent1}}" ng-model = "mc.items.featureBoxContent1" />
                                                <button ng-show="mc.showStat['featureBoxContent1']" ng-click="mc.updateData('featureBoxContent1')">Save</button-->
                                            </div>                                             
                                        </div>   
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6" id="feature-box-2">
                                <div class="feature-box custom clearfix"> 
                                            <div class="feature-box-icon"> 
                                                <i class="fa fa-cubes"></i> 
                                            </div>                                             
                                            <div class="feature-box-content"> 
                                                <div editable-field hrefname="featureBoxTitle2Href" tagname="h4" modelname="featureBoxTitle2" color="featureBoxTitle2Color" class="featureBoxTitle"></div>
                                                <div editable-field hrefname="featureBoxContent2Href" tagname="p" modelname="featureBoxContent2"></div>
                                                <!--h4 ng-show="!mc.showStat['featureBoxTitle2']" ng-click="mc.showStat['featureBoxTitle2'] = !mc.showStat['featureBoxTitle2']">{{mc.items.featureBoxTitle2}}</h4> 
                                                <input  ng-show="mc.showStat['featureBoxTitle2']" type="text" name="featureBoxTitle2" value="{{mc.items.featureBoxTitle2}}" ng-model = "mc.items.featureBoxTitle2" />
                                                <button ng-show="mc.showStat['featureBoxTitle2']" ng-click="mc.updateData('featureBoxTitle2')">Save</button>
                                                
                                                <p ng-show="!mc.showStat['featureBoxContent2']" ng-click="mc.showStat['featureBoxContent2'] = !mc.showStat['featureBoxContent2']">{{mc.items.featureBoxContent2}}</p> 
                                                <input ng-show="mc.showStat['featureBoxContent2']"  type="text" name="featureBoxContent2" value="{{mc.items.featureBoxContent2}}" ng-model = "mc.items.featureBoxContent2" />
                                                <button ng-show="mc.showStat['featureBoxContent2']" ng-click="mc.updateData('featureBoxContent2')">Save</button-->
                                            
                                                <!--<h4>Lorem ipsum title</h4> -->
                                                <!--<input  type="text" name="featureBoxTitle2" ng-model = "mc.items.featureBoxTitle2" />-->
                                                <!--<button ng-click="mc.updateData('featureBoxTitle2')">Save</button>-->
                                                <!--<p>Lorem ipsum dolor consectetur adipisicing incididunt</p> -->
                                                <!--<input  type="text" name="featureBoxContent2" ng-model = "mc.items.featureBoxContent2" />-->
                                                <!--<button ng-click="mc.updateData('featureBoxContent2')">Save</button>-->
                                            </div>                                             
                                        </div>   
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6" id="feature-box-3">
                                <div class="feature-box custom clearfix"> 
                                            <div class="feature-box-icon"> 
                                                <i class="fa fa-object-ungroup"></i> 
                                            </div>                                             
                                            <div class="feature-box-content"> 
                                                <div editable-field hrefname="featureBoxTitle3Href" tagname="h4" modelname="featureBoxTitle3" color="featureBoxTitle3Color" class="featureBoxTitle"></div>
                                                <div editable-field hrefname="featureBoxContent3Href" tagname="p" modelname="featureBoxContent3"></div>
                                                <!--h4 ng-show="!mc.showStat['featureBoxTitle3']" ng-click="mc.showStat['featureBoxTitle3'] = !mc.showStat['featureBoxTitle3']">{{mc.items.featureBoxTitle3}}</h4> 
                                                <input  ng-show="mc.showStat['featureBoxTitle3']" type="text" name="featureBoxTitle3" value="{{mc.items.featureBoxTitle3}}" ng-model = "mc.items.featureBoxTitle3" />
                                                <button ng-show="mc.showStat['featureBoxTitle3']" ng-click="mc.updateData('featureBoxTitle3')">Save</button>
                                                
                                                <p ng-show="!mc.showStat['featureBoxContent3']" ng-click="mc.showStat['featureBoxContent3'] = !mc.showStat['featureBoxContent3']">{{mc.items.featureBoxContent3}}</p> 
                                                <input ng-show="mc.showStat['featureBoxContent3']"  type="text" name="featureBoxContent3" value="{{mc.items.featureBoxContent3}}" ng-model = "mc.items.featureBoxContent3" />
                                                <button ng-show="mc.showStat['featureBoxContent3']" ng-click="mc.updateData('featureBoxContent3')">Save</button-->
                                            
                                                <!--<h4>Lorem ipsum title</h4> -->
                                                <!--<input  type="text" name="featureBoxTitle3" ng-model = "mc.items.featureBoxTitle3" />-->
                                                <!--<button ng-click="mc.updateData('featureBoxTitle3')">Save</button>-->
                                                <!--<p>Lorem ipsum dolor consectetur adipisicing incididunt</p> -->
                                                 <!--<input  type="text" name="featureBoxContent3" ng-model = "mc.items.featureBoxContent3" />-->
                                                <!--<button ng-click="mc.updateData('featureBoxContent3')">Save</button>-->
                                            </div>                                             
                                        </div>   
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6" id="feature-box-4">
                                <div class="feature-box custom clearfix"> 
                                            <div class="feature-box-icon"> 
                                                <i class="fa fa-pie-chart"></i> 
                                            </div>                                             
                                            <div class="feature-box-content"> 
                                                <div editable-field hrefname="featureBoxTitle4Href" tagname="h4" modelname="featureBoxTitle4" color="featureBoxTitle4Color" class="featureBoxTitle"></div>
                                                <div editable-field hrefname="featureBoxContent4Href" tagname="p" modelname="featureBoxContent4"></div>
                                                <!--h4 ng-show="!mc.showStat['featureBoxTitle4']" ng-click="mc.showStat['featureBoxTitle4'] = !mc.showStat['featureBoxTitle4']">{{mc.items.featureBoxTitle4}}</h4> 
                                                <input  ng-show="mc.showStat['featureBoxTitle4']" type="text" name="featureBoxTitle4" value="{{mc.items.featureBoxTitle4}}" ng-model = "mc.items.featureBoxTitle4" />
                                                <button ng-show="mc.showStat['featureBoxTitle4']" ng-click="mc.updateData('featureBoxTitle4')">Save</button>
                                                
                                                <p ng-show="!mc.showStat['featureBoxContent4']" ng-click="mc.showStat['featureBoxContent4'] = !mc.showStat['featureBoxContent4']">{{mc.items.featureBoxContent4}}</p> 
                                                <input ng-show="mc.showStat['featureBoxContent4']"  type="text" name="featureBoxContent4" value="{{mc.items.featureBoxContent4}}" ng-model = "mc.items.featureBoxContent4" />
                                                <button ng-show="mc.showStat['featureBoxContent4']" ng-click="mc.updateData('featureBoxContent4')">Save</button-->
                                                <!--<h4>Lorem ipsum title</h4> -->
                                                 <!--<input  type="text" name="featureBoxTitle4" ng-model = "mc.items.featureBoxTitle4" />-->
                                                <!--<button ng-click="mc.updateData('featureBoxTitle4')">Save</button>-->
                                                <!--<p>Lorem ipsum dolor consectetur adipisicing incididunt</p> -->
                                                 <!--<input  type="text" name="featureBoxContent4" ng-model = "mc.items.featureBoxContent4" />-->
                                                <!--<button ng-click="mc.updateData('featureBoxContent4')">Save</button>-->
                                            </div>                                             
                                        </div>   
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6" id="feature-box-5">
                                <div class="feature-box custom clearfix"> 
                                            <div class="feature-box-icon"> 
                                                <i class="fa fa-puzzle-piece"></i> 
                                            </div>                                             
                                            <div class="feature-box-content"> 
                                                <div editable-field hrefname="featureBoxTitle5Href" tagname="h4" modelname="featureBoxTitle5" color="featureBoxTitle5Color" class="featureBoxTitle"></div>
                                                <div editable-field hrefname="featureBoxContent5Href" tagname="p" modelname="featureBoxContent5"></div>
                                                <!--h4 ng-show="!mc.showStat['featureBoxTitle5']" ng-click="mc.showStat['featureBoxTitle5'] = !mc.showStat['featureBoxTitle5']">{{mc.items.featureBoxTitle5}}</h4> 
                                                <input  ng-show="mc.showStat['featureBoxTitle5']" type="text" name="featureBoxTitle5" value="{{mc.items.featureBoxTitle5}}" ng-model = "mc.items.featureBoxTitle5" />
                                                <button ng-show="mc.showStat['featureBoxTitle5']" ng-click="mc.updateData('featureBoxTitle5')">Save</button>
                                                
                                                <p ng-show="!mc.showStat['featureBoxContent5']" ng-click="mc.showStat['featureBoxContent5'] = !mc.showStat['featureBoxContent5']">{{mc.items.featureBoxContent5}}</p> 
                                                <input ng-show="mc.showStat['featureBoxContent5']"  type="text" name="featureBoxContent5" value="{{mc.items.featureBoxContent5}}" ng-model = "mc.items.featureBoxContent5" />
                                                <button ng-show="mc.showStat['featureBoxContent5']" ng-click="mc.updateData('featureBoxContent5')">Save</button-->
                                                <!--<h4>Lorem ipsum title</h4> -->
                                                 <!--<input  type="text" name="featureBoxTitle5" ng-model = "mc.items.featureBoxTitle5" />-->
                                                <!--<button ng-click="mc.updateData('featureBoxTitle5')">Save</button>-->
                                                <!--<p>Lorem ipsum dolor consectetur adipisicing incididunt</p> -->
                                                 <!--<input  type="text" name="featureBoxContent5" ng-model = "mc.items.featureBoxContent5" />-->
                                                <!--<button ng-click="mc.updateData('featureBoxContent5')">Save</button>-->
                                            </div>                                             
                                        </div>   
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6" id="feature-box-6">
                                <div class="feature-box custom clearfix"> 
                                            <div class="feature-box-icon"> 
                                                <i class="fa fa-send"></i> 
                                            </div>                                             
                                            <div class="feature-box-content">
                                                <div editable-field hrefname="featureBoxTitle6Href" tagname="h4" modelname="featureBoxTitle6" color="featureBoxTitle6Color" class="featureBoxTitle"></div>
                                                <div editable-field hrefname="featureBoxContent6Href" tagname="p" modelname="featureBoxContent6"></div> 
                                                <!--h4 ng-show="!mc.showStat['featureBoxTitle6']" ng-click="mc.showStat['featureBoxTitle6'] = !mc.showStat['featureBoxTitle6']">{{mc.items.featureBoxTitle6}}</h4> 
                                                <input  ng-show="mc.showStat['featureBoxTitle6']" type="text" name="featureBoxTitle6" value="{{mc.items.featureBoxTitle6}}" ng-model = "mc.items.featureBoxTitle6" />
                                                <button ng-show="mc.showStat['featureBoxTitle6']" ng-click="mc.updateData('featureBoxTitle6')">Save</button>
                                                
                                                <p ng-show="!mc.showStat['featureBoxContent6']" ng-click="mc.showStat['featureBoxContent6'] = !mc.showStat['featureBoxContent6']">{{mc.items.featureBoxContent6}}</p> 
                                                <input ng-show="mc.showStat['featureBoxContent6']"  type="text" name="featureBoxContent6" value="{{mc.items.featureBoxContent6}}" ng-model = "mc.items.featureBoxContent6" />
                                                <button ng-show="mc.showStat['featureBoxContent6']" ng-click="mc.updateData('featureBoxContent6')">Save</button-->
                                                <!--<h4>Lorem ipsum title</h4> -->
                                                 <!--<input  type="text" name="featureBoxTitle6" ng-model = "mc.items.featureBoxTitle6" />-->
                                                <!--<button ng-click="mc.updateData('featureBoxTitle6')">Save</button>-->
                                                <!--<p>Lorem ipsum dolor consectetur adipisicing incididunt</p> -->
                                                 <!--<input  type="text" name="featureBoxContent6" ng-model = "mc.items.featureBoxContent6" />-->
                                                <!--<button ng-click="mc.updateData('featureBoxContent6')">Save</button>-->
                                            </div>                                             
                                        </div>   
                            </div>
                                                       
                            <!-- End col-md-12 -->                             
                        </div>                         
                        <!-- End Features Holder -->                         
                    </div>                     
                    <!-- End container -->          
                    
                </section>
                
                
                
                            
                <!-- End container -->                 
               
            <div id="benefit" class="our-benefit parallax" bg-image="why-bg.jpg" editable-image>
                    <div class="container">
                        <div class="row">
                            <div id="service" class="col-md-6 col-sm-12">
                                <div class="titlebar"> 
                                    <div editable-field hrefname="serviceTitleBarHref" tagname="h1" modelname="serviceTitleBar" color="serviceTitleBarColor" class="service"></div>
                                    <!--h1 ng-show="!mc.showStat['serviceTitleBar']" ng-click="mc.showStat['serviceTitleBar'] = !mc.showStat['serviceTitleBar']">{{mc.items.serviceTitleBar}}</h4> 
                                    <input  ng-show="mc.showStat['serviceTitleBar']" type="text" name="serviceTitleBar" value="{{mc.items.serviceTitleBar}}" ng-model = "mc.items.serviceTitleBar" />
                                    <button ng-show="mc.showStat['serviceTitleBar']" ng-click="mc.updateData('serviceTitleBar')">Save</button-->
                                    <!--<h1>Servicejoin.com</h1> -->
                                    <!--<input  type="text" name="serviceTitleBar" ng-model = "mc.items.serviceTitleBar" />-->
                                    <!--<button ng-click="mc.updateData('serviceTitleBar')">Save</button>-->
                                    
                                    <div editable-field hrefname="serviceTitleBarContentHref" tagname="p" modelname="serviceTitleBarContent"></div>
                                    <!--div text-angular ng-model="mc.items.serviceTitleBarContent"></div-->
                                    <!--p ng-show="!mc.showStat['serviceTitleBarContent']" ng-click="mc.showStat['serviceTitleBarContent'] = !mc.showStat['serviceTitleBarContent']">{{mc.items.serviceTitleBarContent}}</p> 
                                    <input ng-show="mc.showStat['serviceTitleBarContent']"  type="text" name="serviceTitleBarContent" value="{{mc.items.serviceTitleBarContent}}" ng-model = "mc.items.serviceTitleBarContent" />
                                    <button ng-show="mc.showStat['serviceTitleBarContent']" ng-click="mc.updateData('serviceTitleBarContent')">Save</button-->
                                    <!--<p>Praesent semper, lacus sed cursus porta, odio augue feugiat tincidunt ligula massa in primis faucibus posuere cubilia </p> -->
                                    <!--<input  type="text" name="serviceTitleBarContent" ng-model = "mc.items.serviceTitleBarContent" />-->
                                    <!--<button ng-click="mc.updateData('serviceTitleBarContent')">Save</button>-->
                                </div>  
                                <div id="about-1-text" class="about-us">
                                    <div editable-field hrefname="serviceAboutHref" tagname="h4" modelname="serviceAbout" color="serviceAboutColor" class="service"></div>
                                     <!--h4 ng-show="!mc.showStat['serviceAbout']" ng-click="mc.showStat['serviceAbout'] = !mc.showStat['serviceAbout']">{{mc.items.serviceAbout}}</h4> 
                                     <input  ng-show="mc.showStat['serviceAbout']" type="text" name="serviceAbout" value="{{mc.items.serviceAbout}}" ng-model = "mc.items.serviceAbout" />
                                     <button ng-show="mc.showStat['serviceAbout']" ng-click="mc.updateData('serviceAbout')">Save</button-->
                                     <!--<h4>What we do?</h4> -->
                                     <!--<input  type="text" name="serviceAbout" ng-model = "mc.items.serviceAbout" />-->
                                     <!--<button ng-click="mc.updateData('serviceAbout')">Save</button>-->
                                     <div editable-field hrefname="serviceAboutContentHref" tagname="p" modelname="serviceAboutContent"></div>
                                     <!--p ng-show="!mc.showStat['serviceAboutContent']" ng-click="mc.showStat['serviceAboutContent'] = !mc.showStat['serviceAboutContent']">{{mc.items.serviceAboutContent}}</p> 
                                    <input ng-show="mc.showStat['serviceAboutContent']"  type="text" name="serviceAboutContent" value="{{mc.items.serviceAboutContent}}" ng-model = "mc.items.serviceAboutContent" />
                                    <button ng-show="mc.showStat['serviceAboutContent']" ng-click="mc.updateData('serviceAboutContent')">Save</button-->
                  <!--                   <p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni -->
							           <!--dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, -->
							           <!--Numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.</p> -->
							            <!--<input  type="text" name="serviceAboutContent" ng-model = "mc.items.serviceAboutContent" />-->
                   <!--                     <button ng-click="mc.updateData('serviceAboutContent')">Save</button>-->

							           <div editable-field hrefname="learnMoreHref" tagname="a" modelname="learnMore" classname="btn btn-primary" color="learnMoreColor" class="learnMore"></div>
							           <!--a href="#0" class="btn btn-primary">Learn more</a-->

                                </div>
                            </div>
                             <div id="different" class="col-md-6 col-sm-12">
                                 <div class="our-different">
                                     <span class="icon-badge">&nbsp;</span>
                                    <!--<h4>Why choose us?</h4> -->
                                    <!--<input  type="text" name="ourDifferentSectionTitle" ng-model = "mc.items.ourDifferentSectionTitle" />-->
                                    <!--<button ng-click="mc.updateData('ourDifferentSectionTitle')">Save</button>-->
                                    <div editable-field hrefname="ourDifferentSectionTitleHref" tagname="h4" modelname="ourDifferentSectionTitle" color="ourDifferentSectionTitleColor" class="ourDifferentSectionTitle"></div>
                                    <!--h4 ng-show="!mc.showStat['ourDifferentSectionTitle']" ng-click="mc.showStat['ourDifferentSectionTitle'] = !mc.showStat['ourDifferentSectionTitle']">{{mc.items.ourDifferentSectionTitle}}</h4> 
                                     <input  ng-show="mc.showStat['ourDifferentSectionTitle']" type="text" name="ourDifferentSectionTitle" value="{{mc.items.ourDifferentSectionTitle}}" ng-model = "mc.items.ourDifferentSectionTitle" />
                                     <button ng-show="mc.showStat['ourDifferentSectionTitle']" ng-click="mc.updateData('ourDifferentSectionTitle')">Save</button-->
             
                                    <ul class="accordion clearfix"> 
            
                                    <!-- Text #1 -->                                     
                                    <li id="text_1"> 
                                    <label href="#text1" class="firstchild"><div editable-field hrefname="ourDifferentSectionLink1Href" tagname="a" modelname="ourDifferentSectionLink1" color="ourDifferentSectionLink1Color" class="ourDifferentSectionLink"></div></label>
                                    <div class="innersection"> 
                                            <div editable-field hrefname="ourDifferentSectionContent1Href" tagname="a" modelname="ourDifferentSectionContent1" color="ourDifferentSectionContent1Color" class="ourDifferentSectionContent"></div>
                                             <!--p ng-show="!mc.showStat['ourDifferentSectionContent1']" ng-click="mc.showStat['ourDifferentSectionContent1'] = !mc.showStat['ourDifferentSectionContent1']">{{mc.items.ourDifferentSectionContent1}}</p> 
                                             <input ng-show="mc.showStat['ourDifferentSectionContent1']"  type="text" name="ourDifferentSectionContent1" value="{{mc.items.ourDifferentSectionContent1}}" ng-model = "mc.items.ourDifferentSectionContent1" />
                                             <button ng-show="mc.showStat['ourDifferentSectionContent1']" ng-click="mc.updateData('ourDifferentSectionContent1')">Save</button-->
              <!--                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. -->
											   <!--Nostrud exercitation ullamco laboris aliquipea commodo consequat. </p> -->
											   <!--<input  type="text" name="ourDifferentSectionContent1" ng-model = "mc.items.ourDifferentSectionContent1" />-->
              <!--                                 <button ng-click="mc.updateData('ourDifferentSectionContent1')">Save</button>-->
                                        </div>                                         
                                    </li>                                     
                                    <!-- Text #2 -->                                     
                                    <li id="text_2">
                                    <label href="#text2" class="firstchild"><div editable-field hrefname="ourDifferentSectionLink2Href" tagname="a" modelname="ourDifferentSectionLink2" color="ourDifferentSectionLink2Color" class="ourDifferentSectionLink"></div></label>
                                    <!--a ng-show="!mc.showStat['ourDifferentSectionLink2']" ng-click="mc.showStat['ourDifferentSectionLink2'] = !mc.showStat['ourDifferentSectionLink2']">{{mc.items.ourDifferentSectionLink2}}</a>
                                    <input ng-show="mc.showStat['ourDifferentSectionLink2']"  type="text" name="ourDifferentSectionLink2" value="{{mc.items.ourDifferentSectionLink2}}" ng-model = "mc.items.ourDifferentSectionLink2" />
                                    <button ng-show="mc.showStat['ourDifferentSectionLink2']" ng-click="mc.updateData('ourDifferentSectionLink2')">Save</button-->   
                                        <div class="innersection"> 
                                        <div editable-field hrefname="ourDifferentSectionContent2Href" tagname="a" modelname="ourDifferentSectionContent2" color="ourDifferentSectionContent2Color" class="ourDifferentSectionContent"></div>
                                        <!--p ng-show="!mc.showStat['ourDifferentSectionContent2']" ng-click="mc.showStat['ourDifferentSectionContent2'] = !mc.showStat['ourDifferentSectionContent2']">{{mc.items.ourDifferentSectionContent2}}</p> 
                                             <input ng-show="mc.showStat['ourDifferentSectionContent2']"  type="text" name="ourDifferentSectionContent2" value="{{mc.items.ourDifferentSectionContent2}}" ng-model = "mc.items.ourDifferentSectionContent2" />
                                             <button ng-show="mc.showStat['ourDifferentSectionContent2']" ng-click="mc.updateData('ourDifferentSectionContent2')">Save</button-->
            <!--                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. -->
												<!--Ut enim ad minim veniam. 										</p> -->
												<!--<input  type="text" name="ourDifferentSectionContent2" ng-model = "mc.items.ourDifferentSectionContent2" />-->
            <!--                                   <button ng-click="mc.updateData('ourDifferentSectionContent2')">Save</button>-->
                                        </div>                                         
                                    </li>                                     
                                    <!-- Text #3 -->                                     
                                    <li id="text_3">
                                    <label href="#text3" class="firstchild"><div editable-field hrefname="ourDifferentSectionLink3Href" tagname="a" modelname="ourDifferentSectionLink3" color="ourDifferentSectionLink3Color" class="ourDifferentSectionLink"></div></label>
                                     <!--a ng-show="!mc.showStat['ourDifferentSectionLink3']" ng-click="mc.showStat['ourDifferentSectionLink3'] = !mc.showStat['ourDifferentSectionLink3']">{{mc.items.ourDifferentSectionLink3}}</a>
                                    <input ng-show="mc.showStat['ourDifferentSectionLink3']"  type="text" name="ourDifferentSectionLink3" value="{{mc.items.ourDifferentSectionLink3}}" ng-model = "mc.items.ourDifferentSectionLink3" />
                                    <button ng-show="mc.showStat['ourDifferentSectionLink3']" ng-click="mc.updateData('ourDifferentSectionLink3')">Save</button-->   
                                        <div class="innersection"> 
                                        <div editable-field hrefname="ourDifferentSectionContent3Href" tagname="a" modelname="ourDifferentSectionContent3" color="ourDifferentSectionContent3Color" class="ourDifferentSectionContent"></div>
                                         <!--p ng-show="!mc.showStat['ourDifferentSectionContent3']" ng-click="mc.showStat['ourDifferentSectionContent3'] = !mc.showStat['ourDifferentSectionContent3']">{{mc.items.ourDifferentSectionContent3}}</p> 
                                             <input ng-show="mc.showStat['ourDifferentSectionContent3']"  type="text" name="ourDifferentSectionContent3" value="{{mc.items.ourDifferentSectionContent3}}" ng-model = "mc.items.ourDifferentSectionContent3" />
                                             <button ng-show="mc.showStat['ourDifferentSectionContent3']" ng-click="mc.updateData('ourDifferentSectionContent3')">Save</button-->
                                        </div>                                         
                                    </li>                                     
                                </ul>  
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            <!-- END ABOUT-1 -->             
            <!-- ABOUT-2
			============================================= -->             
            <!-- END ABOUT-2 -->             
            <!-- FEATURES
			============================================= -->                          
            <!-- END FEATURES -->             
            <!-- FAQs
			============================================= -->             
            <section id="faq" editable-bg modelname="faqBgColor" defaultvalue="#ebf2f9">
                <div class="container"> 
                    <!-- Section Title -->                     
                    <div class="row"> 
                        <div class="col-md-8 col-md-offset-2 col-sm-12 titlebar">
                             <div editable-field hrefname="questionSectionTitleHref" tagname="h1" modelname="questionSectionTitle" color="questionSectionTitleColor" class="questionSectionTitle"></div>
                            <!--h1 ng-show="!mc.showStat['questionSectionTitle']" ng-click="mc.showStat['questionSectionTitle'] = !mc.showStat['questionSectionTitle']">{{mc.items.questionSectionTitle}}</h4> 
                            <input  ng-show="mc.showStat['questionSectionTitle']" type="text" name="questionSectionTitle" value="{{mc.items.questionSectionTitle}}" ng-model = "mc.items.questionSectionTitle" />
                            <button ng-show="mc.showStat['questionSectionTitle']" ng-click="mc.updateData('questionSectionTitle')">Save</button-->
                            <!--<h1>Frequently <strong>asked questions</strong></h1> -->
                            <!--<input  type="text" name="questionSectionTitle" ng-model = "mc.items.questionSectionTitle" />-->
                            <!--<button ng-click="mc.updateData('questionSectionTitle')">Save</button>-->
                            
                            <!--<p>Praesent semper, lacus sed cursus porta, odio augue feugiat tincidunt ligula massa in primis faucibus posuere cubilia </p> -->
                            <!--<input  type="text" name="questionSectionContent" ng-model = "mc.items.questionSectionContent" />-->
                            <!--<button ng-click="mc.updateData('questionSectionContent')">Save</button>-->
                            <div editable-field hrefname="questionSectionContentHref" tagname="p" modelname="questionSectionContent"></div>
                            <!--p ng-show="!mc.showStat['questionSectionContent']" ng-click="mc.showStat['questionSectionContent'] = !mc.showStat['questionSectionContent']">{{mc.items.questionSectionContent}}</p> 
                             <input ng-show="mc.showStat['questionSectionContent']"  type="text" name="questionSectionContent" value="{{mc.items.questionSectionContent}}" ng-model = "mc.items.questionSectionContent" />
                             <button ng-show="mc.showStat['questionSectionContent']" ng-click="mc.updateData('questionSectionContent')">Save</button-->
                        </div>                         
                    </div>                     
                     
                    <!-- End row -->                     
                </div>                 
                <!-- End container -->                 
            </section>             
            <!-- END FAQs -->             
            <!-- CLIENTS
			============================================= -->             
            <!-- END CLIENTS -->             
            <!-- CALL TO ACTION
			============================================= -->   
		
            <section id="call-to-action" class="parallax" bg-image="bottom-bg2.jpg" editable-image>
                <div class="container"> 
                    <div class="row"> 
                        <!-- Call To Action Content -->                         
                        <div class="col-md-8 col-md-offset-2 col-sm-12 text-center"> 
                            
                            <div editable-field hrefname="callActionTitleHref" tagname="h1" modelname="callActionTitle" color="callActionTitleColor" class="callActionTitle" background="callActionTitleBackground"></div>
                            <div editable-field hrefname="callActionContentHref" tagname="p" modelname="callActionContent"></div>
                            
                            <!--h1 ng-show="!mc.showStat['callActionTitle']" ng-click="mc.showStat['callActionTitle'] = !mc.showStat['callActionTitle']">{{mc.items.callActionTitle}}</h4> 
                            <input  ng-show="mc.showStat['callActionTitle']" type="text" name="callActionTitle" value="{{mc.items.callActionTitle}}" ng-model = "mc.items.callActionTitle" />
                            <button ng-show="mc.showStat['callActionTitle']" ng-click="mc.updateData('callActionTitle')">Save</button>
                            
                           <p ng-show="!mc.showStat['callActionContent']" ng-click="mc.showStat['callActionContent'] = !mc.showStat['callActionContent']">{{mc.items.callActionContent}}</p> 
                           <input ng-show="mc.showStat['callActionContent']"  type="text" name="callActionContent" value="{{mc.items.callActionContent}}" ng-model = "mc.items.callActionContent" />
                           <button ng-show="mc.showStat['callActionContent']" ng-click="mc.updateData('callActionContent')">Save</button-->
                           
                            
          <!--                  <p>Praesent semper, lacus sed cursus porta, odio augue feugiat primis in faucibus ultrices posuere cubilia Curae; -->
							   <!--Integer congue leo metus, mollis lorem viverra.</p> -->
							   <!--<input  type="text" name="callActionContent" ng-model = "mc.items.callActionContent" />-->
          <!--                      <button ng-click="mc.updateData('callActionContent')">Save</button>-->
                            <!-- Call To Action Button -->                             
                        </div>                         
                        <!-- End Call To Action Content -->                         
                    </div>
                    <!-- End row -->

                    <div class="row">
                        <div class="register-form" style="position: relative; border: none">
                            <iframe class="more-info" src="https://docs.google.com/a/stacksavings.com/forms/d/1OXu7H8UtKDiThGWGGZm0n4JLnItKRPRGCsNKkG8gzl0/viewform?embedded=true"
                                    scrolling="no" width="100%" height="600" frameborder="0" marginheight="0"
                                    marginwidth="0">Loading...
                            </iframe>
                        </div>
                    </div>
                </div>                 
                <!-- End container -->                 
            </section>    

                     
            <!-- END CALL TO ACTION -->             
            <!-- FOOTER
			============================================= -->             
            <footer id="footer" editable-bg modelname="footerBgColor" defaultvalue="#1281b2">
                <div class="container"> 
                    <div class="row">
                        <!-- Footer Navigation Menu -->                         
                        <div id="footer_nav" class="col-sm-6 col-md-4"> 
                            <ul class="footer-nav clearfix"> 
                                <li>
                                    <div editable-field tagname="a" modelname="footer1" hrefname="footer1Href" color="footer1Color" class="footer"></div>
                                    <!--a href="about.html">About</a-->
                                </li>                                 
                                <li>
                                    <div editable-field tagname="a" modelname="footer2" hrefname="footer2Href" color="footer2Color" class="footer"></div>
                                    <!--a href="blog.html">Blog</a-->
                                </li>                                 
                                <li>
                                    <div editable-field tagname="a" modelname="footer3" hrefname="footer3Href" color="footer3Color" class="footer"></div>
                                    <!--a href="#">Help</a-->
                                </li>                                 
                                <li>
                                    <div editable-field tagname="a" modelname="footer4" hrefname="footer4Href" color="footer4Color" class="footer"></div>
                                    <!--a href="#">Privacy</a-->
                                </li>                                 
                                <li>
                                    <div editable-field tagname="a" modelname="footer5" hrefname="footer5Href" color="footer5Color" class="footer"></div>
                                    <!--a href="#">Terms</a-->
                            </ul>                             
                            <div id="footer_copy">
                                <div editable-field hrefname="copyrightHref" tagname="p" modelname="copyright"></div>
                               <!--p ng-show="!mc.showStat['copyright']" ng-click="mc.showStat['copyright'] = !mc.showStat['copyright']">{{mc.items.copyright}}</p> 
                               <input ng-show="mc.showStat['copyright']"  type="text" name="copyright" value="{{mc.items.copyright}}" ng-model = "mc.items.copyright" />
                               <button ng-show="mc.showStat['copyright']" ng-click="mc.updateData('copyright')">Save</button-->
                            </div>                             
                        </div>                         
                        <!-- End Footer Navigation Menu -->                         
                        <!-- Footer Social Icons -->                         
                        <div id="footer_icons" class="col-sm-6 col-md-4 text-center"> 
                            <ul class="footer-socials clearfix"> 
                                <li>
                                    <a class="foo_social ico-facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </li>                                 
                                <li>
                                    <a class="foo_social ico-twitter" href="#"><i class="fa fa-twitter"></i></a>
                                </li>                                 
                                <li>
                                    <a class="foo_social ico-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                </li>                                 
                                <li>
                                    <a class="foo_social ico-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>                                 
                                <li>
                                    <a class="foo_social ico-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </li>                                 
                                <!--									
								<li><a class="foo_social ico-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a class="foo_social ico-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>	
								<li><a class="foo_social ico-dropbox" href="#"><i class="fa fa-dropbox"></i></a></li>
								<li><a class="foo_social ico-skype" href="#"><i class="fa fa-skype"></i></a></li>
								<li><a class="foo_social ico-youtube" href="#"><i class="fa fa-youtube"></i></a></li>
								<li><a class="foo_social ico-tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
								<li><a class="foo_social ico-vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
								<li><a class="foo_social ico-flickr" href="#"><i class="fa fa-flickr"></i></a></li>
								<li><a class="foo_social ico-github" href="#"><i class="fa fa-github-alt"></i></a></li>
								<li><a class="foo_social ico-renren" href="#"><i class="fa fa-renren"></i></a></li>
								<li><a class="foo_social ico-vk" href="#"><i class="fa fa-vk"></i></a></li>
								<li><a class="foo_social ico-xing" href="#"><i class="fa fa-xing"></i></a></li>
								<li><a class="foo_social ico-weibo" href="#"><i class="fa fa-weibo"></i></a></li>
								<li><a class="foo_social ico-rss" href="#"><i class="fa fa-rss"></i></a></li>										
							-->                                 
                            </ul>                             
                        </div>                         
                        <!-- End Footer Social Icons -->                         
                        <!-- Newsletter Form -->                         
                        <div class="col-md-4"> 
                        <div editable-field hrefname="subscribeSection1Href" tagname="p" modelname="subscribeSection1"></div>
                         <!--p id="newsletter-paragraph" ng-show="!mc.showStat['subscribeSection1']" ng-click="mc.showStat['subscribeSection1'] = !mc.showStat['subscribeSection1']">{{mc.items.subscribeSection1}}</p> 
                         <input ng-show="mc.showStat['subscribeSection1']"  type="text" name="subscribeSection1" value="{{mc.items.subscribeSection1}}" ng-model = "mc.items.subscribeSection1" />
                         <button ng-show="mc.showStat['subscribeSection1']" ng-click="mc.updateData('subscribeSection1')">Save</button-->
                            <div id="newsletter_form">
                                <div class="clearfix"> 
                                    <!--<form id="subscribe-form" class="subscribe-form pull-right" action="newsletter.php" method="post"> -->
                                    <!--    <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..."> -->
                                    <!--    <button type="submit" class="subscribe-submit">Subscribe</button>                                         -->
                                    <!--</form>                                     -->
                                </div>                                 
                                
                            </div>                             
                        </div>                         
                        <!-- End Newsletter Form -->                         
                    </div>                     
                    <!-- End row -->                     
                </div>                 
                <!-- End container -->                 
            </footer>             
            <!-- END FOOTER -->             
        </div>         
        <!-- END CONTENT WRAPPER -->         
        <!-- EXTERNAL SCRIPTS
		============================================= -->         
        <script src="js/jquery-2.1.0.min.js" type="text/javascript"></script>
        <script src="../../app/lib/handlebars/handlebars.min.js"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>         
        <script src="js/retina.js" type="text/javascript"></script>         
        <script src="js/modernizr.custom.js" type="text/javascript"></script>         
        <script src="js/jquery.easing.js" type="text/javascript"></script>         
        <script src="js/jquery.parallax-1.1.3.js" type="text/javascript"></script>         
        <script src="js/jquery.validate.min.js" type="text/javascript"></script>         
        <script defer src="js/jquery.flexslider.js" type="text/javascript"></script>         
        <script src="js/jquery.accordion.source.js" type="text/javascript"></script>         
        <script src="js/owl.carousel.js" type="text/javascript"></script>         
        <script src="js/waypoints.min.js" type="text/javascript"></script>         
        <script src="js/animations.js" type="text/javascript"></script>         
        <script src="js/custom.js" type="text/javascript"></script>     
        <script src="js/main.js" type="text/javascript"></script> 
       
        <!-- angular app -->
         <script src="../../app/lib/angular/angular.js"></script>
        <!--<script src="app/lib/angular/angular.js"></script>-->
        <!--<script src="app/lib/angular-xeditable/dist/js/xeditable.js"></script>-->
        <script src="../../app/custom/angular-xeditable/dist/js/xeditable.js"></script>
        <script src="js/bootstrap-colorpicker-module.min.js"></script>
        <script src='../../app/lib/textAngular/dist/textAngular-rangy.min.js'></script>
        <script src='../../app/lib/textAngular/dist/textAngular-sanitize.min.js'></script>
        <script src='../../app/lib/textAngular/dist/textAngular.min.js'></script>
        <script src="../../app/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
        <script src="../../app/lib/ng-file-upload/ng-file-upload.min.js"></script>
        <script src="../../app/app.js"></script>
        <script src="../../app/services.js"></script>
        <script src="../../app/controllers.js"></script>
        <!-- /angular app -->

        <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->         
        <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->         
        <!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->  
    </body>     
</html>