<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" ng-controller="MainController as mc"> 
<!--<![endif]-->
<head>
<!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{mc.items.title}}</title>

    <base href="/templates/blog-template/" />

    <meta name="description" content="Memory Sphere">
    <meta name="author" content="Memory Sphere">
<!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
    ================================================== -->
    <!-- Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- web font  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
    <!-- plugin css  -->
    <link rel="stylesheet" type="text/css" href="js-plugin/animation-framework/animate.css" />
    <link rel="stylesheet" type="text/css" href="js-plugin/pretty-photo/css/prettyPhoto.css" />
    <link rel="stylesheet" type="text/css" href="js-plugin/flexslider/flexslider.css" />
    <!-- icon fonts -->
    <link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons.css">
    <link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons-ie7.css">
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="css/layout.css">
    <link type="text/css" id="colors" rel="stylesheet" href="css/green.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="js/modernizr-2.6.1.min.js"></script>
<!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
</head>
<body data-spy="scroll" data-target="#mainMenu" data-offset="150" class="app" tpl-ver="blog-template">
<!-- Preloader -->
<div id="preloader">
  <div id="status">loading</div>
</div>
<!-- Primary Page Layout 
    ================================================== -->
    <!-- globalWrapper -->
    <div id="globalWrapper" class="localscroll">
        <!-- header -->
        <header id="mainHeader" class="clearfix">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <a href="index.html" class="brand">
                            <img src="images/logo.png" alt="alteaE website template"/>
                        </a>
                        <nav id="mainMenu" class="scrollMenu clearfix">
                            <ul class="nav clearfix">
                                <li class="active">
                                    <a href="#homeApp">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="#about">
                                        About
                                    </a>
                                </li>
                                <!--<li>-->
                                <!--    <a href="#connect">-->
                                <!--        Connect-->
                                <!--    </a>-->
                                <!--</li>-->
                                <!--<li>-->
                                <!--    <a href="#screenshots">-->
                                <!--        Screenshots-->
                                <!--    </a>-->
                                <!--</li>-->
                                <li>
                                    <a href="#contactSlice">
                                        Contact
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- header -->
        <!-- main content -->
        <section class="clearfix bgFullScreen" id="homeApp">
            <div class="container">
                <div class="row">
                    <!--<div class="span4">-->
                    <!--    <div class="imgWrapperBottom">-->
                    <!--        <img src="images/theme-pics/app-mobile.png" alt="Altea Responsive App Landing Page" />-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div class="span7 offset1 main-container-header">
                        <h1 class="bigTitle">STAY TUNED!</h1>
                        <h2>MemorySphere is launching very soon...</h2>
                        <a href="#">
                            <img src="images/theme-pics/app-store-btn.png" alt="altea app store button" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
            <section class="slice noPaddingBottom" id="about">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <h1>About</h1>
                        </div>
                        <div class="span6">
                            <div class="flexslider flexApp">
                                <ul class="slides sliderWrapper">
                                    <li class="slideN0">
                                        <img src="images/slider/flex-slider/infographics-7.png" alt="pic 1"/>
                                    </li>
                                    <li class="slideN1">
                                        <img src="images/slider/flex-slider/infographics-8.png" alt="pic 2"/>
                                    </li>
                                    <li class="slideN2">
                                        <img src="images/slider/flex-slider/infographics-9.png" alt="pic 1"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="span6">
                            <p>We are working hard to launch a new app that’s going to eliminate all the background noise and let you organically communicate with those that are truly close and important to you. If you are interested in participating in our Alpha and Beta releases or being notified of our official launch, please leave us your details below and we’ll notify you the minute we are live in app stores.</p>
                        </div>

	<form name="saveTemplateData" action="#" ng-controller="FormCtrl" ng-submit="submitForm()">


		<div class="admin-panel" draggable-elem style="width:200px" > 

			<div class="admin-menu">
				<br/>

			        First name:    <br/><input type="text" name="form.firstname">    <br/><br/>
				Email Address: <br/><input type="text" ng-model="form.emailaddress"> <br/><br/>


			     	<input type="submit">

			</div>
		</div>
	</form>


                    </div>
                </div>
            </section>
            <!--<section class="color1 slice noPaddingBottom">-->
            <!--    <div class="container">-->
            <!--        <div class="row">-->
            <!--            <div class="span6 clearfix">-->
            <!--                <h2>Altea One Page Website Template</h2>-->
            <!--                <div class="one_half">-->
            <!--                    <h3>Easy to customize</h3>-->
            <!--                    <p> At that preluding moment, ere the boat was yet snapped, Ahab, the first to perceive the whale's intent, by the crafty upraising of his head, a movement that loosed his hold for the time; at that moment his hand had made one final effort to push the boat out of the bite. But only slipping further into the whale's mouth, and tilting over sideways as it slipped, the boat had shaken off his hold on the jaw; spilled him out of it, as he leaned to the push; and so he fell flat-faced upon the sea. </p>-->
            <!--                </div>-->
            <!--                <div class="one_half last">-->
            <!--                    <h3>Full of options</h3>-->
            <!--                    <p>And now, while both elastic gunwales were springing in and out, as the whale dallied with the doomed craft in this devilish way; and from his body being submerged beneath the boat, he could not be darted at from the bows, for the bows were almost inside of him, as it were; and while the other boats involuntarily paused, as before a quick crisis impossible to withstand, then it was that monomaniac </p>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="span6">-->
            <!--                <img src="images/theme-pics/app-mobile-ipad.png" alt="Altea one page app" />-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</section>-->
            <nav class="arrowsNav">
                <a href="#connect" class="navDown color1">
                    <i class="icon-down-open"></i>
                </a>
                <a href="#homeApp" class="navUp color4">
                    <i class="icon-up-open"></i>
                </a>
            </nav>
            <!--<div id="paralaxSlice8" data-stellar-background-ratio="0.5" >-->
            <!--    <div class="paralaxText">-->
            <!--        <div class="paralaxText">-->
            <!--            <div class="iconWrapper iconBig">-->
            <!--                <i class="icon-magic"></i>-->
            <!--            </div>-->
            <!--            <div class="iconWrapper iconBig">-->
            <!--                <i class="icon-star"></i>-->
            <!--            </div>-->
            <!--            <div class="iconWrapper iconBig">-->
            <!--                <i class="icon-basket"></i>-->
            <!--            </div>-->
            <!--            <blockquote>Retina ready font icons</blockquote>-->
            <!--            <a href="font-icons/custom-icons/demo.html" target="blank" class="btn">-->
            <!--                <i class="icon-link-ext"></i>See icon set-->
            <!--            </a>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            <!--<section class="slice color1" id="connect">-->
            <!--    <div class="container">-->
            <!--        <div class="row">-->
            <!--            <div class="span12">-->
            <!--                <h1>Connect with your favorite apps</h1>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div class="row">-->
            <!--            <div class="span6 clearfix">-->
            <!--                <div class="boxFeature clearfix">-->
            <!--                    <div class="one_third">-->
            <!--                        <div class="iconWrapper iconBig color4">-->
            <!--                            <i class="icon-twitter"></i>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="two_thirds last">-->
            <!--                        <h2>Twitter</h2>-->
            <!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet fermentum mi</p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="span6 clearfix">-->
            <!--                <div class="boxFeature clearfix">-->
            <!--                    <div class="one_third">-->
            <!--                        <div class="iconWrapper iconBig color2">-->
            <!--                            <i class="icon-facebook"></i>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="two_thirds last">-->
            <!--                        <h2>Facebook</h2>-->
            <!--                        <p>Sed et enim et erat semper posuere in eu est. Quisque dui ligula, imperdiet ut ligula in.</p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div class="row">-->
            <!--            <div class="span6 clearfix">-->
            <!--                <div class="boxFeature clearfix">-->
            <!--                    <div class="one_third">-->
            <!--                        <div class="iconWrapper iconBig color3">-->
            <!--                            <i class="icon-gplus"></i>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="two_thirds last">-->
            <!--                        <h2>Google +</h2>-->
            <!--                        <p>Vestibulum quis leo in sapien vehicula tempor. Maecenas lacinia nisi nisi.</p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="span6 clearfix">-->
            <!--                <div class="boxFeature clearfix">-->
            <!--                    <div class="one_third">-->
            <!--                        <div class="iconWrapper iconBig color4">-->
            <!--                            <i class="icon-pinterest-circled"></i>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="two_thirds last">-->
            <!--                        <h2>Pinterest</h2>-->
            <!--                        <p>Nullam interdum fermentum dui, sit amet pretium nisl mattis.</p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</section>-->
            <nav class="arrowsNav">
                <a href="#contactSlice" class="navDown color1">
                    <i class="icon-down-open"></i>
                </a>
                <a href="#about" class="navUp color4">
                    <i class="icon-up-open"></i>
                </a>
            </nav>
            <!--<div id="paralaxSlice9" data-stellar-background-ratio="0.5" >-->
            <!--    <div class="paralaxText">-->
            <!--        <div class="iconWrapper iconBig color4"><i class="icon-heart"></i></div>-->
            <!--        <blockquote class="bigTitle">Find, Share, Love</blockquote>-->
            <!--    </div>-->
            <!--</div>-->
            <!--<section class="slice clearfix" id="screenshots">-->
            <!--    <div class="container">-->
            <!--        <div class="row">-->
            <!--            <div class="span12">-->
            <!--                <h1>Application screenshots</h1>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div class="row">-->
            <!--            <div class="span6">-->
            <!--                <img src="images/theme-pics/app-tablet-icons.png" alt="Altea one page app">-->
            <!--            </div>-->
            <!--            <div class="span6">-->
            <!--                <div class="row">-->
            <!--                    <div class="span3">-->
            <!--                        <article>-->
            <!--                            <section class="imgWrapper">-->
            <!--                                <img alt="" src="images/portfolio/vign7.jpg">-->
            <!--                            </section>-->
            <!--                            <section class="boxContent">-->
            <!--                                <h3>Screen1</h3>-->
            <!--                                <p>Fungeris sine spe</p>-->
            <!--                            </section>-->
            <!--                        </article>-->
            <!--                    </div>-->
            <!--                    <div class="span3">-->
            <!--                        <article>-->
            <!--                            <section class="imgWrapper">-->
            <!--                                <img alt="" src="images/portfolio/vign5.jpg">-->
            <!--                            </section>-->
            <!--                            <section class="boxContent">-->
            <!--                                <h3>Screen2</h3>-->
            <!--                                <p>Fungeris sine spe</p>-->
            <!--                            </section>-->
            <!--                        </article>-->
            <!--                    </div>-->
            <!--                    <div class="span3">-->
            <!--                        <article>-->
            <!--                            <section class="imgWrapper">-->
            <!--                                <img alt="" src="images/portfolio/vign8.jpg">-->
            <!--                            </section>-->
            <!--                            <section class="boxContent">-->
            <!--                                <h3>Screen3</h3>-->
            <!--                                <p>Fungeris sine spe</p>-->
            <!--                            </section>-->
            <!--                        </article>-->
            <!--                    </div>-->
            <!--                    <div class="span3">-->
            <!--                        <article>-->
            <!--                            <section class="imgWrapper">-->
            <!--                                <img alt="" src="images/portfolio/vign9.jpg">-->
            <!--                            </section>-->
            <!--                            <section class="boxContent">-->
            <!--                                <h3>Screen4</h3>-->
            <!--                                <p>Fungeris sine spe</p>-->
            <!--                            </section>-->
            <!--                        </article>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</section>-->
            <div id="contactSlice"></div>
            <div id="paralaxSlice10" data-stellar-background-ratio="0.5" >
                <div class="paralaxText">
                    <h2 class="bigTitle">Keep in touch with us!</h2>
                    <h3>We are social</h3>
                    <ul class="socialNetwork">
                        <li>
                            <a href="#" class="iconWrapper color3 tips icoFacebook" title="Facebook">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="iconWrapper color3 tips icoTwitter" title="Twitter">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="iconWrapper color3 tips icoGoogle" title="Google +">
                                <i class="icon-gplus"></i>
                            </a>
                        </li>
                        <li class="last">
                            <a href="#" class="iconWrapper color3 tips icoLinkedin" title="Linkedin">
                                <i class="icon-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        <!-- end content -->
        <nav class="arrowsNav">
            <a href="#homeApp" class="navUp color4">
                <i class="icon-up-open"></i>
            </a>
        </nav>
        <!-- footer -->
        <footer>
            <section id="mainFooter">
                <div class="container" id="footer">
                    <div class="row">
                        <div class="span6 testimonialWidget">
                            <img src="images/logo.png" alt="latest Little Neko news">
                            <p>
                                <a href="http://www.little-neko.com" title="Little Neko, website template creation">
                                    Memory Sphere 
                                </a>
                                for iOS</p>
                            </div>
                            <!--<div class="span6 newsWidget">-->
                            <!--    <div id="twitterFrame">-->
                            <!--        <a class="twitter-timeline" href="https://twitter.com/LIttleNeko1" data-widget-id="339736854519754752"  data-theme="light">-->
                            <!--            Tweets by @LIttleNeko1-->
                            <!--        </a>-->
                            <!--        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
                            <!--    </div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </section>
            </footer>
            <section  id="footerRights" class="center-text">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <p>Copyright © 2016
                                <a href="http://www.little-neko.com" target="blank">
                                    MemorySphere
                                </a>
                                / All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End footer -->
            </div>
            <!-- end global wrapper -->
<!-- End Document 
    ================================================== -->
    <script type="text/javascript" src="js-plugin/respond/respond.min.js"></script>
    <script type="text/javascript" src="js-plugin/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>
    <!-- third party plugins  -->
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-carousel-ie.js"></script>
    <script type="text/javascript" src="js-plugin/easing/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js-plugin/pretty-photo/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js-plugin/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js-plugin/neko-contact-ajax-plugin/js/jquery.form.js"></script>
    <script type="text/javascript" src="js-plugin/neko-contact-ajax-plugin/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js-plugin/parallax/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script type="text/javascript" src="js-plugin/parallax/js/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="js-plugin/parallax/js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="js-plugin/smoothscroll/SmoothScroll.js"></script>
    <!-- Custom  -->
    <script type="text/javascript" src="js/custom.js"></script>


	<!-- Angular App -->
	<script src="../../app/lib/angular/angular.js"></script>
	<script src="../../app/custom/angular-xeditable/dist/js/xeditable.js"></script>
	<script src="../../app/lib/colorPicker/bootstrap-colorpicker-module.min.js"></script>
	<script src='../../app/lib/textAngular/dist/textAngular-rangy.min.js'></script>
	<script src='../../app/lib/textAngular/dist/textAngular-sanitize.min.js'></script>
	<script src='../../app/lib/textAngular/dist/textAngular.min.js'></script>
	<script src="../../app/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
	<script src="../../app/lib/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="../../app/app.js"></script>
	<script src="../../app/services.js"></script>
	<script src="../../app/controllers.js"></script>
	<!-- END Angular App -->


</body>
</html>
