.admin-panel{
  z-index: 1000;
  background-color: lightgray;
  border-color: #757575;
    border-radius: 2px;
    width: 23%;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    height: 100%;
    /*background-color: white;*/
    margin:2px;
}

.admin-panel .panel-header{
  color: #fafafa;
    background-color: #757575;
        padding: 0px 16px 0px 16px;
        
}

.admin-panel .panel-header h2{
  font-size: 14px;
    font-weight: 700;
    padding: 14px 0 14px;
    margin: 0;
    line-height: 20px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
}

.admin-panel .panel-header i{
  font-size: 22px;
    float: right;
    padding-top: 12px;
    cursor: pointer;
}

.admin-panel .admin-menu{
    font-size: 14px;
    padding: 16px;
    border-radius: 2px;
    
}

.admin-panel .admin-menu p{
   margin: 0 0 16px;
   font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
   line-height: 1.45;
    color: #616161;
}
