		<div class="admin-panel add-menuitem-panel" draggable-elem add-menu-item> 
		    <div class="panel-header" ng-show="authenticated">
		        <span id="test" class="show-panel-menu" ng-click="mc.showAddMenuItem=false;">
		            <i class="fa fa-times" aria-hidden="true"></i>
		            </span>
		        <h2>Add Item</h2>
		    </div>
			<div class="admin-menu">
				<form role="search">
						<div class="form-group">
									<input type="text" class="form-control" name="title_menu_tem" placeholder="Add Title" ng-model="mc.menu_item_title"/>
									<br/>
									<input type="text" class="form-control" name="href_menu_tem" placeholder="Add Href" ng-model="mc.menu_item_href"/>
									<br/>
									<button type="submit" class="btn btn-default" ng-click='mc.addItem("menu")'>
										Add Menu Item
									</button>
								</div>
				</form>
			</div>
		</div>
