		<div class="admin-panel" draggable-elem style="position: absolute;"> 
		    <div class="panel-header" ng-show="authenticated">
		        <span id="test" class="show-panel-menu" ng-click="show=!show">
		            <i class="fa fa-angle-down" aria-hidden="true" ng-show="!show"></i>
		            <i class="fa fa-angle-up" aria-hidden="true" ng-show="show"></i>
		            </span>
		        <h2>Admin Panel</h2>
		    </div>
			<div class="admin-menu" ng-show="show && authenticated">
				<form role="search">
						<div class="form-group">
								<div class="form-group">
									<input ng-blur="mc.saveTitle()" type="text" class="form-control" name="title" placeholder="Title" ng-model="mc.items.title"/>

Change Page Title
								</div>

<br/>
									<input type="text" class="form-control" name="page" placeholder="Create Page" ng-model="mc.new_page"/>
									<br/>
									<button type="submit" class="btn btn-default" ng-click="mc.createPage()">
										Create New Page
									</button>
								</div>

				</form>
			</div>
		</div>
		<br><br>
