{{showdemo=true;""}}
<div class="admin-panel" draggable-elem>
    <div class="panel-header" ng-show="demomode">
        <h2>Demo Mode</h2>
    </div>
  <div class="admin-menu" ng-show="showdemo && demomode">
    <form role="search">
<br/>
      This is a demo mode so you can try out how editing works. Changes are not saved on page reload.
  <br/><br/>
  <b>Look for the following icons on the page to edit:</b>
  <br/><br/>
Change color: <img height="20" width="20" src="/web/templates/admin-panel/img/color-logo.jpg">
<br/><br/>
Change image: <img height="20" width="20" src="/web/templates/admin-panel/img/add_file.png">

  </div>
</div>
