.admin-panel{
  z-index: 1000;
  border-color: #757575;
    border-radius: 2px;
    width: 23%;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    /*height: 300px;*/
    background-color: white;
    margin:2px;
    line-height:normal;
    color: black;
}

.editable-input[type=text] {
  width:100%;
}
.admin-panel .panel-header{
  color: #fafafa;
    background-color: #757575;
        padding: 0px 16px 0px 16px;
        
}

.admin-panel .panel-header h2{
  font-size: 14px;
    font-weight: 700;
    padding: 14px 0 14px;
    margin: 0 !important;
    line-height: 20px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
}

.admin-panel .panel-header i{
  font-size: 22px;
    float: right;
    padding-top: 12px;
    cursor: pointer;
}

.admin-panel .admin-menu{
    font-size: 14px;
    padding: 16px;
    border-radius: 2px;
    text-align: center;
    background-color:white;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-color: #757575;
}

.admin-panel .admin-menu p{
   margin: 0 0 16px;
   font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
   line-height: 1.45;
    color: #616161;
}

.delete-menu-item{
    position: absolute;
    margin-top: -66px;
    /*margin-left: -11px;
    width: 0;*/
}

.add-menuitem-panel{
  width: 100%;
}

*[wysiwyg="true"] form{
  border: 1px solid #757575;
 /* width: 150%;*/
    padding: 8px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.admin-menu .btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
*[wysiwyg="true"] form .btn-default{
   color: #333;
    background-color: #fff;
    border-color: #ccc;
}

*[wysiwyg="true"] form .editable-buttons{
  width: 75%;
    padding-top: 5px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

*[wysiwyg="true"] form .editable-buttons button:first-child{
  float: left;
}

*[wysiwyg="true"] form .editable-buttons button:last-child{
  float: right;
}

.hide-wysiwyg-form{
    position: absolute;
    right: 4px;
    z-index: 1;
    cursor: pointer;
    top: 0;
    font-size: 16px;
}

span.editable-wrap {
  display: block;
}


.image-textbox{
  width:215px;
}
@media (min-width: 768px) {
  .navbar-fixed-top {
    max-height: 50px;
  }
}